<div class="tab-pane active fade in" id="stat-tab1">
  <div class="league-table-inner">
    <!-- League-Table-Bar -->
    <div class="league-table-bar">
      <i>#</i>
      <p>Team</p>
      <ul>
        <li>PI</li>
        <li>W</li>
        <li>D</li>
        <li>L</li>
        <li>F</li>
        <li>A</li>
        <li>GD</li>
        <li>Pts</li>
        <li>Last6</li>
      </ul>
    </div>
    <!-- League-Table-Bar -->
    <!-- League-Table-Bar -->
    <% @teamdim_arr.each do |team| %>
        <div class="league-table-bar">
          <i><%= team.id %></i>
          <p><%= team.team_name %></p>
          <ul>
            <li><%= team.team_fact.played%></li>
            <li><%= team.team_fact.win%></li>
            <li><%= team.team_fact.draw%></li>
            <li><%= team.team_fact.loss%></li>
            <li><%= team.team_fact.goals_for%></li>
            <li><%= team.team_fact.goal_diff%></li>
            <li><%= team.team_fact.home_points%></li>
            <li><%= team.team_fact.points%></li>
            <li>
              <span class="green"></span>
              <span class="green"></span>
              <span class="green"></span>
            </li>
          </ul>
        </div>
    <% end %>
  </div>
</div>