<h1>oh i am loged in</h1>
<h6>its amazing</h6>
<li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- === Title === -->
  <title>Dashboard Option</title>

  <!-- Css Attached Files
  ======================= -->

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/theme.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/responsive.css" rel="stylesheet"  type="text/css">

  <!-- Meta Code
  ============== -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
<!-- Dashboard Main Starts Here
============================= -->
<div class="dashboard-option-main">
  <!-- header Starts Here
  ======================= -->
  <header>
    <div class="header-left-panel">
      <img class="logo" src="../assets/logo.png" alt="">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="header-right-panel">
      <ul>
        <li><a href="#"><img src="../assets/icone-4.png" alt=""></a></li>
        <li><a href=""><span>+ </span>New Card</a></li>
        <li><span>Welcome!</span> Stephan Williams <i></i></li>
      </ul>
    </div>
  </header>
  <!-- header Ends Here
  ======================= -->

  <!-- Dashboard Option Wrapper Starts Here
  ========================================= -->
  <div class="dashboard-option-wrapper">
    <h1>Deep Dive Sports</h1>
    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="">Let’s Get Start</a>
  </div>



  <!-- Dashboard Option Carousile Panel
  ===================================== -->
  <div class="dashboard-carousile-panel">



    <!--Trending Carousile -->
    <div id="trending-carousile" class="carousel fdi-Carousel slide">
      <h1>Trending</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide trending" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->
          <div class="item active">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>League Name</h2>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <!--/carousel-inner-->
        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#trending-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#trending-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--Trending Carousile -->





    <!--My League Carousile -->
    <div id="league-carousile" class="carousel fdi-Carousel slide">
      <h1>My Leagues</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide my-league" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->
          <div class="item active">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item ">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item ">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="league-top-container">
                    <div class="carousile-img-container">
                      <img src="../assets/league-img-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="carousile-text-container">
                      <p>18 August 2015</p>
                      <h2>New Zealand</h2>
                      <span>V</span>
                      <h2>Zimbabwe</h2>
                    </div>
                    <div class="carousile-img-container right-img">
                      <img src="../assets/league-img-6.jpg" class="img-responsive center-block">
                    </div>
                  </div>

                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!--/carousel-inner-->
        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#league-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#league-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--My Leagues Carousile -->


    <!--Teams Carousile -->
    <div id="teams-carousile" class="carousel fdi-Carousel slide">
      <h1>Teams</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide teams" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->
          <div class="item active">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-sm-4 col-md-4">
              <div class="item-inner">

                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="caousile-data-panel">
                  <div class="carousile-img-container">
                    <img src="../assets/league-img-4.jpg" class="img-responsive center-block">
                  </div>
                  <div class="carousile-text-container">
                    <p>18 August 2015<span><img src="../assets/icone-7.png" alt=""></span></p>
                    <h2>256 Character of text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                  </div>
                  <div class="bottom-panel">
                    <p><span><img src="../assets/icone-16.png" alt=""></span>2</p>
                    <ul>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Item -->
          <!--/carousel-inner-->
        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#teams-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#teams-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--Teams Carousile -->































  </div>


  <!-- Dashboard Option Carousile Panel
  ===================================== -->





  <!-- Dashboard Option Wrapper Ends Here
  ======================================= -->

  <!-- Footer Starts Here
  ======================= -->
  <footer>
    <div class="footer-left-panel">
      <img src="../assets/footer-logo.png" alt="">
      <p>© 2016 Deep Dive Sports</p>
    </div>
    <div class="footer-right-panel">
      <ul class="footer-nav">
        <li><a href="#">about us</a></li>
        <li><a href="#">jobs</a></li>
        <li><a href="#">user agreement</a></li>
        <li><a href="#">privacy policy</a></li>
      </ul>
      <ul class="footer-social-media">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </footer>
  <!-- Footer Ends Here
  ======================= -->
</div>
<!-- Dashboard Main Ends Here
============================= -->
<!-- ====== J-Query Portion ====== -->
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">

  $(function () {

    $('#myTab a:first').tab('show')
    $('#myTab a:first').tab-inner('show')
    $('#myTab a:first').stat-tab('show')

  })

</script>
<script>
  //    $('.carousel').carousel({
  //         interval: 5000 //changes the speed
  //     })
</script>
</body>
</html>