<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- === Title === -->
  <title>Select Sport</title>

  <!-- Css Attached Files
  ======================= -->



  <!-- Meta Code
  ============== -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
<!-- Main Starts Here
===================== -->
<div id="sports-main">

  <!-- header Starts Here
  ======================= -->

  <%= render :file => 'layouts/_header.html.erb' %>

  <!-- header Ends Here
  ======================= -->

  <!-- Sports Panel Starts Here
  ============================= -->
  <div class="sports-wrapper">
    <div class="table-panel">
      <div class="table-cell-panel">
        <div class="container sports-panel">

          <!--  Sports Header Panel -->
          <div class="sports-panel-header">
            <h1>Favourite</h1>
            <div class="search-container">
              <form role="form">
                <div class="form-group">
                  <input class="form-control" type="search" placeholder="Type your favourite teams">
                  <button type="submit"><<%= image_tag("/assets/icone-15.png") %></button>
                </div>
              </form>
            </div>
          </div>
          <!--  Sports Header Panel -->



          <!--Sports Carousile -->
          <div class="sports-carousile-container">
            <div id="sports-carousile" class="carousel fdi-Carousel slide ">
              <!-- Carousel items -->
              <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                <div class="carousel-inner onebyone-carosel">
                  <!-- Item -->
                  <% @sports.each do |sport| %>
                      <div class="item active">
                        <div class="col-sm-4 col-md-4" >
                          <a class="sport-img-container">
                            <div class="table-panel">
                              <div class="table-cell-panel select-sport" id=<%="#{sport.id}"%>>
                                <span><%= image_tag('/assets/sports-8.png') %></span>
                                <%= image_tag('/assets/sports-3.png') %>
                                <p><%= sport.name %></p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                  <% end %>
                </div>
                <!--/carousel-inner-->
                <!-- Controls -->
                <a class="col-sm-2 left carousel-control" href="#sports-carousile" data-slide="prev">
                  <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#sports-carousile" data-slide="next">
                  <span class="icon-next"></span>
                </a>
              </div>
              <!-- Carousel items -->
            </div>
          </div>
          <!--Sports Carousile -->

          <!-- Sports Select Container -->
          <div class="sports-select-container">
            <!-- Item -->
            <% @teams.each do |tm| %>
                <div class="sport-img-container select-team" id=<%="#{tm.id}"%>>
                  <div class="table-panel">
                    <div class="table-cell-panel">
                      <span><%= image_tag('/assets/sports-8.png') %></span>
                      <%= image_tag('/assets/sports-7.png') %>
                      <p><%= tm.team_name %></p>
                    </div>
                  </div>
                </div>
            <% end %>
            <!-- Item -->
            <!-- Item -->
            <!-- Item -->
          </div>
          <!-- Sports Select Container -->



          <!-- Sports Footer -->
          <div class="sports-wrapper-footer">
            <div class="sports-wrapper-footer-p-container">
              <p>4 / 5 Games left</p>
              <span>Minimum five sport select for generate your timeliness</span>
            </div>
              <div class="form-group">
                <%= form_for(Favourite.new, :html => {:class => 'form-horizontal button_to', id: 'sport-form'}) do |f| %>
                  <input value="Save" type="submit" />
                 <% end %>
              </div>
          </div>
          <!-- Sports Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- Sports Panel Ends Here
  ============================= -->

  <!-- Footer Starts Here
  ======================= -->
  <%= render :file => 'layouts/_footer.html.erb' %>
  <!-- Footer Ends Here
  ======================= -->
<input id="1" name="1" />
</div>
<!-- Main ENds Here
===================== -->
<!-- ====== J-Query Portion ====== -->

<script type="text/javascript">

 $(document).ready(function(){
   $(".select-sport").click(function(){
     var id =$(this).attr("id")+ '-sport';
     var checked_attr = $(this).attr('checked');
     if(checked_attr == 'checked')
     {
       $(this).closest('.sport-img-container').removeClass('click-sport-and-team');
       $('img[src*="../assets/sports-9.png"]').remove();
       $(this).removeAttr('checked');
      $("#"+id).remove();
     }
     else{
       $(this).closest('.sport-img-container').addClass('click-sport-and-team');
       $(this).prepend('<img class="hover" id="theImg" src="../assets/sports-9.png" style="left: 6px; top: 6px;position: absolute;" />')

       $(this).attr('checked', 'true')
       $('#sport-form').append("<input type='text' name='sports[]'   id="+ id + " class='hidden' />");
       $("#"+id).val($(this).attr("id"));
     }
   })

   $(".select-team").click(function(){
     var id =$(this).attr("id")+ '-team';
     var checked_attr = $(this).attr('checked');
     if(checked_attr == 'checked')
     {
       $(this).closest('.sport-img-container').removeClass('click-sport-and-team');
       $('img[src*="../assets/sports-9.png"]').remove();
       $(this).removeAttr('checked');
       $("#"+id).remove();
     }
     else{
       $(this).closest('.sport-img-container').addClass('click-sport-and-team');
       $(this).prepend('<img  id="theImg" src="../assets/sports-9.png" style="left: 6px; top: 6px; position: absolute;" />')
       $(this).attr('checked', 'true')
       $('#sport-form').append("<input type='text' name='teams[]'   id="+ id + " class='hidden' />");
       $("#"+id).val($(this).attr("id"));
     }
   })
 })
//  $(function () {
//
//    $('#myTab a:first').tab('show')
//    $('#myTab a:first').tab-inner('show')
//    $('#myTab a:first').stat-tab('show')
//
//  });

</script>
<script>

  //    $('.carousel').carousel({
  //         interval: 5000 //changes the speed
  //     })
</script>
</body>
</html>





