<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- === Title === -->
  <title>Dashboard Option</title>

  <!-- Css Attached Files
  ======================= -->



  <!-- Meta Code
  ============== -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
<!-- Dashboard Main Starts Here
============================= -->
<div class="dashboard-option-main">
  <!-- header Starts Here
  ======================= -->
  <%= render :file => 'layouts/_header.html.erb' %>
  <!-- header Ends Here
  ======================= -->

  <!-- Dashboard Option Wrapper Starts Here
  ========================================= -->
  <div class="dashboard-option-wrapper">
    <h1>Deep Dive Sports</h1>
    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="">Let’s Get Start</a>
  </div>



  <!-- Dashboard Option Carousile Panel
  ===================================== -->
  <div class="dashboard-carousile-panel">



    <!--Trending Carousile -->
    <div id="trending-carousile" class="carousel fdi-Carousel slide">
      <h1>My Leagues</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide trending" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->
          <% @favourite_competitions&&@favourite_competitions.each do |ft| %>
              <div class="item <%= 'active' if ft.id == 1 %>"  style="cursor: pointer;">
                <div class="col-sm-4 col-md-4">
                  <div class="item-inner">
                    <div class="caousile-data-panel" onclick="location.href='/competitions/<%="#{ft.id}"%>'"id=<%="#{ft.id}"%>>
                      <div class="carousile-img-container">
                        <%= image_tag('/assets/league-img-1.jpg',class: "img-responsive center-block") %>
                      </div>
                      <div class="carousile-text-container">
                        <p><%= ft.created_at %><span><%= image_tag('/assets/icone-7.png',alt: "") %></span></p>
                        <h2><%= ft.description %></h2>
                      </div>
                      <div class="bottom-panel">
                        <p><span><%= image_tag('/assets/icone-16.png',alt: "") %></span>2</p>
                        <ul>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- Item -->
          <!-- Item -->

          <!-- Item -->
          <!-- Item -->

          <!-- Item -->
          <!--/carousel-inner-->
        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#trending-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#trending-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--Trending Carousile -->





    <!--My League Carousile -->
    <div id="league-carousile" class="carousel fdi-Carousel slide">
      <h1>My Games</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide my-league" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->


          <% @favourite_events&&@favourite_events.each do |fav_event| %>
              <div class="item <%= 'active' if fav_event.id == 1 %>"  style="cursor: pointer;">
                <div class="col-sm-4 col-md-4">
                  <div class="item-inner">
                    <div class="caousile-data-panel" onclick="location.href='/events/<%="#{fav_event.id}"%>'" id=<%="#{fav_event.id}"%>>
                      <div class="league-top-container">
                        <div class="carousile-img-container">
                          <%= image_tag('/assets/league-img-5.jpg',class: "img-responsive center-block") %>
                        </div>
                        <div class="carousile-text-container">
                          <p><%= fav_event.created_at %></p>
                          <h2><%= fav_event.description %></h2>
                        </div>
                        <div class="carousile-img-container right-img">
                          <%= image_tag('/assets/league-img-6.jpg',class: "img-responsive center-block") %>
                        </div>
                      </div>

                      <div class="bottom-panel">
                        <p><span><%= image_tag('/assets/icone-16.png',alt: "") %></span>2</p>

                        <ul>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          <% end %>

        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#league-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#league-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--My Leagues Carousile -->


    <!--Teams Carousile -->
    <div id="teams-carousile" class="carousel fdi-Carousel slide">
      <h1>Teams</h1>
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide teams" id="eventCarousel" data-interval="0">
        <div class="carousel-inner onebyone-carosel">
          <!-- Item -->


          <% @favourite_teams&&@favourite_teams.each do |favt| %>
              <div class="item <%= 'item active' if favt.id == 1 %>" onclick="location.href='/tournaments/<%="#{favt.id}"%>'" style="cursor: pointer;">
                <div class="col-sm-4 col-md-4">
                  <div class="item-inner">
                    <div class="caousile-data-panel">
                      <div class="carousile-img-container">
                        <%= image_tag('/assets/league-img-4.jpg',class:"img-responsive center-block") %>
                      </div>
                      <div class="carousile-text-container">
                        <p><%= favt.created_at %><span><%= image_tag('/assets/icone-7.png',alt: "") %></span></p>
                        <h2><%=favt.team_name %></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed ...eiusmod.</p>
                      </div>
                      <div class="bottom-panel">
                        <p><span><%= image_tag('/assets/icone-16.png',alt: "") %></span>2</p>
                        <ul>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                          <li><a href=""></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>


          <!-- Item -->
          <!-- Item -->

          <!-- Item -->
          <!-- Item -->

          <!-- Item -->
          <!--/carousel-inner-->
        </div>
        <!-- Carousel items -->

        <!-- Controls -->
        <a class="left carousel-control" href="#teams-carousile" data-slide="prev"></a>
        <a class="right carousel-control" href="#teams-carousile" data-slide="next"></a>
      </div>
    </div>
    <!--Teams Carousile -->































  </div>


  <!-- Dashboard Option Carousile Panel
  ===================================== -->





  <!-- Dashboard Option Wrapper Ends Here
  ======================================= -->

  <!-- Footer Starts Here
  ======================= -->
  <%= render :file => 'layouts/_footer.html.erb' %>
  <!-- Footer Ends Here
  ======================= -->
</div>
<!-- Dashboard Main Ends Here
============================= -->
<!-- ====== J-Query Portion ====== -->

<script type="text/javascript">

  $(function () {

    $('#myTab a:first').tab('show')
//    $('#myTab a:first').tab-inner('show')
//    $('#myTab a:first').stat-tab('show')

  })

</script>
<script>
  //    $('.carousel').carousel({
  //         interval: 5000 //changes the speed
  //     })
</script>
</body>
</html>