<!--Player Table  -->
<div class="tab-pane fade" id="stat-tab2">
  <div class="players-inner-container">
    <!-- Left Panel -->
    <div class="left-panel">
      <ul class="team-1">
        <% @team_1.each do |team| %>
            <li><%= team.team_name %></li>
        <% end %>
        <ol class="ol-styling">
          <% @home_players.each do |player| %>
              <li><a href=""><%= player.player_name %></a></li>
          <% end %>
        </ol>
      </ul>
      <ul class="team-2">
        <% @team_2.each do |team| %>
            <li><%= team.team_name %></li>
        <% end %>
        <ol class="ol-styling">
          <% @away_players.each do |player| %>
              <li><a href=""><%= player.player_name %></a></li>
          <% end %>
        </ol>
      </ul>
    </div>
    <!-- Left Panel -->
    <!-- Google-Add -->
    <div class="google-add">
      <img src="../assets/google-1.jpg" alt="">
      <img src="../assets/google-2.jpg" alt="">
    </div>
    <!-- Google-Add -->
  </div>
</div>
<!--Player Table  -->
