<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- === Title === -->
  <title>Dashboards</title>

  <!-- Css Attached Files
  ======================= -->
  <!-- Meta Code
  ============== -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body class="dashboard-2">
<!-- Main Starts Here
===================== -->
<div id="dashboard-main">

  <!-- header Starts Here
  ======================= -->
  <!-- header Starts Here
 ======================= -->
  <header>
    <div class="header-left-panel">
      <a href="/favourites/new"><%= image_tag("/assets/logo.png") %></a>
      <ul>
        <li><a href="#"><i class="fa fa-bell-o"></i><span>5</span></a></li>
        <li><a href="#"><i class="fa fa-bookmark-o"></i><span>7</span></a></li>
      </ul>
    </div>
    <div class="header-right-panel">
      <ul>
        <li class="header-search-bar">
          <a href="#"><%= image_tag("/assets/icone-4.png") %></a>
          <input class="form-control" type="text" name="" value="" placeholder="">
        </li>
        <li class="top-popup new-card-popup-button">

          <a><span>+ </span>New Card  </a>
          <div class="popup">
            <div class="table-panel" onclick="">
              <div class="table-cell-panel">
                <div class="popup-inner">
                  <div class="close"><i class="fa fa-close "></i></div>
                  <div class="form-group">
                    <h2>New Card</h2>
                    <%= form_for @fan_card do |f| %>
                        <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
                        <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
                        <%= hidden_field_tag 'id', @event_show.id %>
                        <%= hidden_field_tag 'type', 'event' %>
                        <%= f.submit 'FanCard', class: 'form-control', value: 'Submit' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li class="top-popup">
          <%= image_tag("/assets/User-icon.png") %>

          <span>Welcome!</span> <%= current_user.username %>
          <i><a class="user-ul"></a></i>
          <ul class="user-setting-data">
            <li><a href="">setting</a></li>
            <li><a class="invite-button">Invite</a>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <div class="popup invite-popup">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="popup-inner">
                    <div class="close-1"><i class="fa fa-close "></i></div>
                    <form role="form">
                      <div class="form-group">
                        <h2>Add E-mail to be Invited!</h2>
                        <input id="email" class="form-control invite-email"  type="email" placeholder="Enter email Address">
                        <h2>Your Invitation Message <span>(Optional)</span></h2>
                        <textarea id="comment" class="form-control" placeholder="Message" rows="5"></textarea>
                        <label>
                          <input type="checkbox" value="">
                          Invite for personal
                        </label>
                        <input type="submit" class="form-control submit" name="" value="Invite">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </header>
  <!-- header Ends Here
  ======================= -->

  <!-- header Ends Here
  ======================= -->

  <!-- Dashboard Wrapper Starts Here
  ========================================= -->
  <div class="dashboard-wrapper">
    <!-- Dashboard-Left-Wrapper Starts Here
    ======================================= -->
    <div class="col-md-3 col-sm-3 dashboard-left-wrapper">
      <div class="dashboard-left-inner-wrapper">
        <div class="heading-panel">
          <p>My  Events Level 02</p>
          <div class="heading-panel-search">
            <input type="text" class="heading-input" name="" value="" placeholder="Search...">
            <a class="search-button"><img src="../assets/icone-4.png" alt=""></a>
          </div>
        </div>
        <div class="heading-title">
          <img src="../assets/icone-6.png" alt="" id="goback">

          <p><%= @event_show.description %></p>
        </div>

        <!-- League Card -->



        <% @fan_cards.each do |fan| %>
            <a href="/fan_cards/<%="#{fan.id}"%>" >
              <div class="league-card">
                <div class=" league-img-container">
                  <img src="../assets/league-img-1.jpg" alt="">
                </div>
                <div class=" league-text-container">
                  <h2><%=  fan.title %></h2>
                  <img src="../assets/icone-7.png" alt="">
                  <p><%=  fan.description %></p>
                </div>
                <div class="league-bottom">
                  <ul>
                    <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
                    <li><a href=""><i class="fa fa-bookmark-o"></i></a></li>
                    <li><a href=""><i class="fa fa-bell-o"></i></a></li>
                    <li><a href=""><i class="fa fa-share-alt"></i></a></li>
                    <li><a><i class="fa fa-bars"></i></a>
                      <ul>
                        <li><a href="">Comment</a></li>
                        <li><a href="">Message</a></li>
                        <li><a href="">Email</a></li>
                        <li><a href="">Tweet</a></li>
                        <li><a href="">Copy Link</a></li>
                      </ul>
                    </li>
                  </ul>
                  <span>12</span>
                </div>
              </div>
            </a>

        <% end %>
        <!-- League Card -->

        <!-- League Card -->
      </div>
      <div class="mobile-left-hover-panel">
        <a>League Cards</a>
      </div>

    </div>
    <!-- Dashboard-Left-Wrapper Starts Here
    ======================================= -->


    <!-- Dashboard-Middle-Wrapper Starts Here
    ========================================= -->
    <div class="col-md-6 col-sm-6 dashboard-middle-panel">
      <div class="dashboard-inner-main">
        <!-- Middle-TOp-Panel STarts Here
        ================================= -->
        <div class="middle-top-panel">
          <!-- Left Top Panel -->
          <div class="col-sm-6 col-md-6 top-left-panel">
            <h1><%= @event_show.description %><span>F2</span><span>3:2</span></h1>
            <h2>Old Trafford</h2>
            <img src="../assets/tag-1.jpg" alt="">
            <img src="../assets/tag-2.jpg" alt="">
          </div>
          <!-- Left Top Panel -->

          <!-- Right Top Panel -->
          <div class="col-sm-6 col-md-6 top-rigt-panel">
            <ul class="top-left-nav">
              <li><a href="#"><img src="../assets/arrow-1.png" alt=""><p>Previoud</p></a></li>
              <li><a href="#"><p>Next</p><img src="../assets/arrow-2.png" alt=""></a></li>
            </ul>
            <div class="top-rigt-text-panel">
              <h3>Addi</h3>
              <p>Kickoff 15:00 12-Sept-2016</p>
              <p>Full Time 17:00 12-Sept-2016</p>
              <ul>
                <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
                <li><a href=""><i class="fa fa-thumbs-down"></i></a></li>
                <li><a href=""><i class="fa fa-flag"></i></a></li>
                <li><a href=""><i class="fa fa-share-alt"></i></a></li>
                <li><a href=""><i class="fa fa-bookmark-o"></i></a></li>
                <li><a href=""><i class="fa fa-bell-o"></i></a></li>

                <!--                         <li><a href=""><i class="fa fa-eye"></i></a></li>
                                        <li><a href=""><i class="fa fa-eye"></i></a></li>
                 -->                        <li><a href=""><i class="fa fa-pencil"></i></a></li>
                <li><a href=""><i class="fa fa-eye"></i></a></li>
                <!--                         <li><a><i class="fa fa-bars"></i></a>
                                            <ul>
                                                <li><a href="">Comment</a></li>
                                                <li><a href="">Message</a></li>
                                                <li><a href="">Email</a></li>
                                                <li><a href="">Tweet</a></li>
                                                <li><a href="">Copy Link</a></li>
                                            </ul>
                                        </li> -->
              </ul>
            </div>
          </div>
          <!-- Right Top Panel -->
        </div>
        <!-- Middle-TOp-Panel Ends Here
        ================================= -->


        <!-- Middle-Middle-Panel STarts Here
        ==================================== -->

        <div class="col-sm-12 col-md-12 middle-wrapper-panel">
          <!-- Top Img Container -->
          <div class="Top-img-container">
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-1.png" alt="">
                    <p>Photos</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-2.png" alt="">
                    <p>Creator article</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-3.png" alt="">
                    <p>Map</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-4.png" alt="">
                    <p>News Article</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-5.png" alt="">
                    <p>trending cards</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-6.png" alt="">
                    <p>table</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-7.png" alt="">
                    <p>information</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
            <!-- ABout Top Panel -->
            <a class="col-sm-1 col-md-1 about-panel">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="about-inner">
                    <img src="../assets/about-8.png" alt="">
                    <p>player</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- ABout Top Panel -->
          </div>
          <!-- Top Img Container -->

          <!-- Information Panel -->
          <div class="information-panel-container">
            <div class="information-panel">
              <h1>Information</h1>
              <a href="">Edit</a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod
              </p>
            </div>
            <!-- Information Panel -->


            <!-- Article Section Starts Here -->
            <div class="article-container">
              <!-- Article Collapse Panel -->
              <column id="article-callapse" class="col-md-8 col-sm-8 article-callapse">
                <div id="accordion-1" class="panel-group panel-container">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <!-- Heading -->
                      <h4 class="panel-title">
                        <a href="#collapse1" data-parent="#accordion-1" data-toggle="collapse" class="">Article</a>
                      </h4>
                    </div>

                    <div class="panel-collapse collapse in" id="collapse1" style="">
                      <div class="panel-body">

                        <!-- Article Info -->

                        <% @articles.each do |article| %>
                            <div class="article-info">
                              <h2><%= article.title %></h2>
                              <h3><%= article.created_at %></h3>
                              <p><%= article.description %></p>
                              <a href="">edit</a>
                            </div>
                        <% end %>

                        <!-- Article Info -->
                      </div>
                    </div>

                  </div>
                </div>
              </column>
              <!-- Article Collapse Panel -->

              <!-- Map Panel -->
              <div class="col-sm-4 col-md-4 article-map-panel"></div>
            </div>
          </div>
          <!-- Article Section Starts Here -->

          <!-- News Panel -->
          <div class="news-panel">
            <!-- Column Portion -->
            <column id="news-callapse" class="col-md-12 col-sm-12 news-callapse">
              <div id="accordion-2" class="panel-group panel-container">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse2" data-parent="#accordion-2" data-toggle="collapse">News</a>
                      <a class="collapse-add" href="">+ Add News</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse2" style="">
                    <div class="panel-body">

                      <!--Blog Carousile -->
                      <div id="news-carousile" class="carousel fdi-Carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                          <div class="carousel-inner onebyone-carosel">
                            <!-- Item -->
                            <div class="item active">
                              <div class="col-sm-4 col-md-4">
                                <div class="item-inner">
                                  <div class="carousile-img-container">
                                    <div class="carousile-img-inner">
                                      <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                                      <a href="">Like</a>
                                    </div>
                                  </div>
                                  <div class="carousile-text-container">
                                    <h1>Mourinho gets apology for jail comment</h1>
                                    <h2>Football - Posted at 16:33 - Jan 26, 2016</h2>
                                    <p>Manchester United manager Jose Mourinho has received an apology for the claim he should be</p>
                                    <a href="http://www.bbc.com/sport">http://www.bbc.com/sport</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Item -->
                            <!-- Item -->
                            <div class="item ">
                              <div class="col-sm-4 col-md-4">
                                <div class="item-inner">
                                  <div class="carousile-img-container">
                                    <div class="carousile-img-inner">
                                      <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                                      <a href="">Like</a>
                                    </div>
                                  </div>
                                  <div class="carousile-text-container">
                                    <h1>Mourinho gets apology for jail comment</h1>
                                    <h2>Football - Posted at 16:33 - Jan 26, 2016</h2>
                                    <p>Manchester United manager Jose Mourinho has received an apology for the claim he should be</p>
                                    <a href="http://www.bbc.com/sport">http://www.bbc.com/sport</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Item -->
                            <!-- Item -->
                            <div class="item">
                              <div class="col-sm-4 col-md-4">
                                <div class="item-inner">
                                  <div class="carousile-img-container">
                                    <div class="carousile-img-inner">
                                      <img src="../assets/league-img-1.jpg" class="img-responsive center-block">
                                      <a href="">Like</a>
                                    </div>
                                  </div>
                                  <div class="carousile-text-container">
                                    <h1>Mourinho gets apology for jail comment</h1>
                                    <h2>Football - Posted at 16:33 - Jan 26, 2016</h2>
                                    <p>Manchester United manager Jose Mourinho has received an apology for the claim he should be</p>
                                    <a href="http://www.bbc.com/sport">http://www.bbc.com/sport</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Item -->


                          </div>
                          <!--/carousel-inner-->
                          <!-- Controls -->
                          <a class="left carousel-control" href="#news-carousile" data-slide="prev">
                            <span class="icon-prev"></span>
                          </a>
                          <a class="right carousel-control" href="#news-carousile" data-slide="next">
                            <span class="icon-next"></span>
                          </a>
                        </div>
                        <!-- Carousel items -->
                      </div>
                      <!--Blog Carousile -->
                    </div>
                  </div>
                </div>



              </div>
            </column>
            <!-- Column Portion -->
          </div>
          <!-- News Panel -->

          <!-- Stats Panel -->
          <div class="stats-panel">
            <!-- Column Portion -->
            <column id="Stats-collapse" class="col-md-12 col-sm-12 Stats-collapse">
              <div id="accordion-3" class="panel-group panel-container">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse3" data-parent="#accordion-3" data-toggle="collapse">Stats</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse3" style="">
                    <div class="panel-body">

                      <!--Start Tabs Section-->
                      <div class="stat-tab">
                        <div class="form-horizontal form-wizard">
                          <div class="steps-progress" style="margin-left: 18.14285714285714%; margin-right:10.14285714285714%;">
                            <div class="progress-indicator"></div>
                          </div>
                          <ul>
                            <li class="active">
                              <a href="#stat-tab1" data-toggle="tab">League Table</a>
                            </li>
                            <li>
                              <a href="#stat-tab2" data-toggle="tab" class="cart">Players</a>
                            </li>
                            <li>
                              <a href="#stat-tab3" data-toggle="tab" class="cart">Stats</a>
                            </li>
                            <li>
                              <a href="#stat-tab4" data-toggle="tab" class="cart">Match Report</a>
                            </li>
                            <li>
                              <a href="#stat-tab5" data-toggle="tab" class="cart">Top Scorers</a>
                            </li>
                          </ul>
                        </div>

                      </div>
                      <!--End Tabs Section-->

                      <!--Start Tabs Inner-Contant Section-->
                      <div class="tab-content">
                        <!--League Table  -->
                        <div class="tab-pane active fade in" id="stat-tab1">
                          <div class="league-table-inner">
                            <!-- League-Table-Bar -->
                            <%= render :partial =>'competitions/league_table' %>
                          </div>
                        </div>
                        <!--League Table  -->
                        <%= render :partial =>'events/player_table' %>
                        <!-- Stats Table -->
                        <div class="tab-pane fade" id="stat-tab3">
                          <div class="stats-inner-container">
                            <!-- Left Panel -->
                            <div class="left-panel">
                              <h2>Deep Dive sports predictions <span>(1:0.760 Manchester V Livepool)</span></h2>
                              <ul class="statsinner">
                                <li><i>#</i><p>date</p><p>stadium</p><p>teams</p><span>Score FT</span></li>
                                <li><a href=""><i>1</i><p>7 december,1999</p><p>old Trafford</p><p>manchester v livepool</p><span>3:2</span></a></li>
                                <li><a href=""><i>2</i><p>8 december,2000</p><p>Anfield</p><p>manchester v livepool</p><span>1:2</span></a></li>
                                <li><a href=""><i>3</i><p>9 december,2001</p><p>old Trafford</p><p>manchester v livepool</p><span>2:4</span></a></li>
                                <li><a href=""><i>4</i><p>10 december,2002</p><p>Anfield</p><p>manchester v livepool</p><span>5:5</span></a></li>
                                <li><a href=""><i>5</i><p>11 december,2003</p><p>old Trafford</p><p>manchester v livepool</p><span>3:2</span></a></li>
                                <li><a href=""><i>6</i><p>12 december,2004</p><p>Anfield</p><p>manchester v livepool</p><span>1:2</span></a></li>
                                <li><a href=""><i>7</i><p>13 december,2005</p><p>old Trafford</p><p>manchester v livepool</p><span>2:4</span></a></li>
                                <li><a href=""><i>8</i><p>14 december,2006</p><p>Anfield</p><p>manchester v livepool</p><span>5:5</span></a></li>

                              </ul>
                            </div>
                            <!-- Left Panel -->
                            <!-- Google-Add -->
                            <div class="google-add">
                              <img src="../assets/google-3.jpg" alt="">
                              <img src="../assets/google-2.jpg" alt="">
                            </div>
                            <!-- Google-Add -->
                          </div>
                        </div>
                        <!-- Stats Table -->

                        <!--Match Report -->
                        <div class="tab-pane fade" id="stat-tab4">
                          <div class="match-report-container">
                            <!-- Left Panel -->
                            <div class="left-panel">
                              <!-- Over All -->
                              <div class="over-all">
                                <h2>Overall</h2>
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>possesion %</p>
                                  <span>53.3</span>
                                  <span>46.7</span>
                                </div>
                                <!-- Differnce Container -->
                              </div>
                              <!-- Over All -->

                              <!-- Shots -->
                              <div class="shots">
                                <h2>shots</h2>
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Total Shots</p>
                                  <span>19</span>
                                  <span>46.7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>on target</p>
                                  <span>19</span>
                                  <span>7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>off target</p>
                                  <span>10</span>
                                  <span>5</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Blocked</p>
                                  <span>5</span>
                                  <span>1</span>
                                </div>
                                <!-- Differnce Container -->
                              </div>
                              <!-- Shots -->

                              <!-- PAsses -->
                              <div class="passes">
                                <h2>passes</h2>
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Total Shots</p>
                                  <span>19</span>
                                  <span>46.7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>on target</p>
                                  <span>19</span>
                                  <span>7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>off target</p>
                                  <span>10</span>
                                  <span>5</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Blocked</p>
                                  <span>5</span>
                                  <span>1</span>
                                </div>
                                <!-- Differnce Container -->
                              </div>
                              <!-- PAsses -->

                              <!-- Attack -->
                              <div class="attack">
                                <h2>Attack</h2>
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Total Shots</p>
                                  <span>19</span>
                                  <span>46.7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>on target</p>
                                  <span>19</span>
                                  <span>7</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>off target</p>
                                  <span>10</span>
                                  <span>5</span>
                                </div>
                                <!-- Differnce Container -->
                                <!-- Differnce Container -->
                                <div class="differnce-container">
                                  <p>Blocked</p>
                                  <span>5</span>
                                  <span>1</span>
                                </div>
                                <!-- Differnce Container -->
                              </div>
                              <!-- Attack -->

                            </div>
                            <!-- Left Panel -->
                            <!-- Google-Add -->
                            <div class="google-add">
                              <img src="../assets/google-1.jpg" alt="">
                              <img src="../assets/google-2.jpg" alt="">
                            </div>
                            <!-- Google-Add -->
                          </div>
                        </div>
                        <!--Match Report -->

                        <!--Top Scorrer Table  -->
                        <div class="tab-pane fade" id="stat-tab5">
                          <div class="top-scorers-inner">
                            <!-- Left Panel -->
                            <div class="left-panel">
                              <ul class="team-1">
                                <h2>Manchester</h2>
                                <li><i>#</i>Player<span>Goals</span></li>
                                <li><a href=""><i>1</i>John Ward<span>60</span></a></li>
                                <li><a href=""><i>2</i>Jim Long<span>50</span></a></li>
                                <li><a href=""><i>3</i>fred Sharp<span>45</span></a></li>
                                <li><a href=""><i>4</i>derrek Roony<span>40</span></a></li>
                                <li><a href=""><i>5</i>fregel Ward<span>39</span></a></li>
                                <li><a href=""><i>6</i>Ari Long<span>38</span></a></li>
                                <li><a href=""><i>7</i>Arun Sharp<span>37</span></a></li>
                                <li><a href=""><i>8</i>Peter Rooney<span>36</span></a></li>
                              </ul>
                              <ul class="team-2">
                                <h2>Liverpool</h2>
                                <li><i>#</i>Player<span>Goals</span></li>
                                <li><a href=""><i>1</i>John Ward<span>60</span></a></li>
                                <li><a href=""><i>2</i>Jim Long<span>50</span></a></li>
                                <li><a href=""><i>3</i>fred Sharp<span>45</span></a></li>
                                <li><a href=""><i>4</i>derrek Roony<span>40</span></a></li>
                                <li><a href=""><i>5</i>fregel Ward<span>39</span></a></li>
                                <li><a href=""><i>6</i>Ari Long<span>38</span></a></li>
                                <li><a href=""><i>7</i>Arun Sharp<span>37</span></a></li>
                                <li><a href=""><i>8</i>Peter Rooney<span>36</span></a></li>
                              </ul>
                            </div>
                            <!-- Left Panel -->
                            <!-- Google-Add -->
                            <div class="google-add">
                              <img src="../assets/google-1.jpg" alt="">
                              <img src="../assets/google-2.jpg" alt="">
                            </div>
                            <!-- Google-Add -->
                          </div>
                        </div>
                        <!--Top Scorrer Table  -->

                      </div>
                      <!--End Tabs Inner-Contant Section-->

                    </div>
                  </div>
                </div>

              </div>
            </column>
            <!-- Column Portion -->
          </div>

          <!-- Stats Panel -->

          <!-- Professional Photos Panel -->
          <div class="professional-photos">
            <!-- Column Portion -->
            <column id="professional-collapse" class="col-md-12 col-sm-12 professional-collapse">
              <div id="accordion-4" class="panel-group panel-container">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse4" data-parent="#accordion-4" data-toggle="collapse">Profesional Photos</a>
                      <a class="collapse-add" href="">+ Add Photo</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse4" style="">
                    <div class="panel-body">
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-1.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-3.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-1.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-3.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </column>
            <!-- Column Portion -->
          </div>

          <!-- Professional Photos Panel -->

          <!-- User Photos Panel -->
          <div class="user-photos">
            <!-- Column Portion -->
            <column id="user-collapse" class="col-md-12 col-sm-12 user-collapse">
              <div id="accordion-5" class="panel-group panel-container">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse5" data-parent="#accordion-5" data-toggle="collapse">user Photos</a>
                      <a class="collapse-add" href="">+ Add Photo</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse5" style="">
                    <div class="panel-body">
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-1.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-3.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-1.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/photo-3.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </column>
            <!-- Column Portion -->
          </div>
          <!-- Professional Photos Panel -->

          <!-- Nested Photos Panel -->
          <div class="nested-photos">
            <!-- Column Portion -->
            <column id="nested-collapse" class="col-md-12 col-sm-12 nested-collapse">
              <div id="accordion-6" class="panel-group panel-container">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse6" data-parent="#accordion-6" data-toggle="collapse">top 50 nested Photos</a>
                      <a class="collapse-add" href="">+ Add Photo</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse6" style="">
                    <div class="panel-body">
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                      <div class="col-sm-2 col-md-2 photo-container">
                        <div class="photo-img-cotainer"><img src="../assets/bg-2.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </column>
            <!-- Column Portion -->
          </div>

          <!-- Nested Photos Panel -->

        </div>
        <!-- Middle-Middle-Panel Ends Here
        ==================================== -->

      </div>
    </div>
    <!-- Dashboard-Middle-Wrapper Ends Here
    ======================================= -->

    <!-- Dashboard-right-Wrapper Starts Here
    ======================================== -->
    <div class="col-md-3 col-sm-3 dashboard-right-tabs">
      <div class="right-tab-container-wrapper">
        <!--Start Tabs Section-->
        <div class="tabs-bg">
          <div class="form-horizontal form-wizard">
            <div class="steps-progress" style="margin-left: 18.14285714285714%; margin-right:10.14285714285714%;">
              <div class="progress-indicator"></div>
            </div>
            <ul>
              <li class="active">
                <a href="#tab1" data-toggle="tab"><span></span>Public Comment</a>
              </li>
              <li>
                <a href="#tab2" data-toggle="tab"><span></span>Private Message</a>
              </li>
              <li>
                <a href="#tab3" data-toggle="tab" class="padding-tab"><span></span>Email</a>
              </li>
              <li>
                <a href="#tab4" data-toggle="tab" class="padding-tab"><span></span>Tweet</a>
              </li>
            </ul>
          </div>

        </div>
        <!--End Tabs Section-->

        <!--Start Tabs Contant Section-->
        <div class="tab-content">
          <!-- Public-Comment Tab -->
          <div class="tab-pane fade active in" id="tab1">
            <!--Public Comment-->
            <div class="public-comment">
                <div class="form-group">
                  <%= form_for @comment do |f| %>
                      <%= f.text_area :description, placeholder: 'Your Comments...' %>
                      <%= hidden_field_tag 'id', @event_show.id %>
                      <%= hidden_field_tag 'type', 'event' %>
                      <%= f.submit 'Comment', class: 'form-control', value: 'Send' %>
                  <% end %>
                </div>
              <div class="chat-panel-container">
                <!-- Chat Panel -->
                <% @event_comments.order('created_at desc').each do |comment| %>
                    <div class="chat-panel">
                      <div class=" chat-panel-img-container">
                        <img src="../assets/tab-1.jpg" alt="">
                      </div>
                      <div class=" chat-panel-text-container">
                        <% user = User.find(comment.user_id) %>
                        <h2><%= user.username %></h2>
                        <span><%= time_ago_in_words(comment.created_at) + ' ' + 'ago' %></span>
                        <p>
                          <%= comment.description %>
                        </p>
                      </div>
                    </div>
                <% end %>
                <!-- Chat Panel -->

                <div class="chat-bottom-panel">
                  <a>Last Hours</a>
                  <a>+ Invite</a>
                </div>
              </div>

            </div>
            <!--Public Comment-->
          </div>
          <!-- Public-Comment Tab -->

          <!-- Private Message Tab -->
          <div class="tab-pane fade" id="tab2">
            <div class="private-message">
              <form role="form">
                <div class="form-group">
                  <textarea id="comment" class="form-control" placeholder="Your Comments..." rows="5"></textarea>
                  <input type="submit" class="form-control" name="" value="Send">
                </div>
              </form>
              <div class="chat-panel-container">
                <!-- Chat Panel -->
                <div class="chat-panel private-chat">
                  <div class=" chat-panel-img-container">
                    <img src="../assets/tab-1.jpg" alt="">
                  </div>
                  <div class=" chat-panel-text-container">
                    <h2>Niky Macaleen (Friend Name 1)</h2>
                    <p>
                      My Last Message - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>
                  </div>
                </div>
                <!-- Chat Panel -->
                <!-- Chat Panel -->
                <div class="chat-panel private-chat">
                  <div class=" chat-panel-img-container">
                    <img src="../assets/tab-1.jpg" alt="">
                  </div>
                  <div class=" chat-panel-text-container">
                    <h2>Niky Macaleen (Friend Name 2)</h2>
                    <p>
                      My Last Message - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>
                  </div>
                </div>
                <!-- Chat Panel -->
                <!-- Chat Panel -->
                <div class="chat-panel private-chat">
                  <div class=" chat-panel-img-container">
                    <img src="../assets/tab-1.jpg" alt="">
                  </div>
                  <div class=" chat-panel-text-container">
                    <h2>Niky Macaleen (Friend Name 3)</h2>
                    <p>
                      My Last Message - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>
                  </div>
                </div>
                <!-- Chat Panel -->

              </div>


              <div class="chat-bottom-panel">
                <a>+ Invite Friends</a>
              </div>
            </div>

          </div>
          <!-- Private Message Tab -->
          <div class="tab-pane fade" id="tab3">
            Email Tab
          </div>
          <div class="tab-pane fade" id="tab4">
            Twitter Tab
          </div>
        </div>
      </div>
      <!--End Tabs Contant Section-->
      <div class="chat-right-hover-panel">
        <a>Chat</a>
      </div>
    </div>

    <!-- Dashboard-Right-Wrapper Ends Here
    ========================================= -->
  </div>
  <!-- Dashboard Wrapper Endss Here
  ========================================= -->

  <!-- Footer Starts Here
  ======================= -->
  <%= render :file => 'layouts/_footer.html.erb' %>
  <!-- Footer Ends Here
  ======================= -->

</div>
<!-- Main ENds Here
===================== -->
<!-- ====== J-Query Portion ====== -->

<script>
  $(document).ready(function(){
    $("#goback").click(function(){
      window.history.back();
    })
  })
  //    $('.carousel').carousel({
  //         interval: 5000 //changes the speed
  //     })
</script>
</body>
</html>