
<!-- Main Starasdasdts Here
===================== -->
<div class="log-in-main">
  <!-- Header -->
  <div class="log-in-header">
    <%= image_tag("/assets/log-in-logo.png") %>
  </div>
  <!-- Header -->

  <!-- Wrapper -->
  <div class="log-in-wrapper" >
    <div class="log-in-wrapper-inner">
      <div class="log-in-wrapper-inner-main">

        <div class="container">
          <div class="col-sm-8 col-md-8 log-in-left-panel">
            <h1>Welcome !</h1>
            <h3>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
            </h3>
            <h2>Download App from</h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <a href="">

              <%= image_tag("/assets/button-1.png") %></a>
            <a href="">
              <%= image_tag("/assets/button-2.png") %></a>

          </div>
          <div class="col-sm-4 col-md-4 log-in-right-panel" >
            <h1>Sign In</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <!--<input id="email" class="form-control log-in-mail" type="email" placeholder="Email Address">-->
                  <%= f.email_field :email, autofocus: true,id: "email", class: "form-control log-in-mail", type: "email", placeholder: "Email Address"  %>
                  <!--<input type="password" class="form-control log-in-password" placeholder="Password">-->
                  <%= f.password_field :password, autocomplete: "off",type: "password", class: "form-control log-in-password", placeholder:"Password" %>
                  <div class="forget-stay-conatiner">
                    <% if devise_mapping.rememberable? -%>
                        <div class="checkbox ">
                          <label>
                            <%= f.check_box :remember_me,type: "checkbox" %> Stay logged in
                          </label>
                        </div>
                    <% end -%>
                    <%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <!--<a class="forget-password" href="">Forgot password?</a>-->
                    <%= link_to "Forgot password?", new_password_path(resource_name),class: "forget-password" %><br />
                    <%# end -%>
                  </div>
                  <!--<input type="submit" class="form-control submit" value="Log In">-->
                  <%= f.submit "Log in",class:"form-control submit", value:"Log In" %>
                </div>
            <% end %>
            <ul>
              <li><%= link_to "",user_facebook_omniauth_authorize_path,
                          :class => "fa fa-facebook" %></li>
              <li><%= link_to "",user_twitter_omniauth_authorize_path,
                              :class =>"fa fa-twitter" %></li>
              <li><%= link_to "",user_google_oauth2_omniauth_authorize_path,
                              :class =>"fa fa-google-plus" %></li>
            </ul>
            <h1>New Register</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.text_field :username, autofocus: true, class: "form-control log-in-mail", placeholder: "Full Name" %>
                  <%= f.email_field :email, class: "form-control log-in-mail", placeholder: "Email Address" %>
                  <%= f.password_field :password, autocomplete: "off",class: "form-control log-in-password",placeholder: "Password" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control log-in-password", placeholder: "Ret-type your password" %>
                  <%= f.submit "Sign up",class:"form-control submit", value:"Sign Up" %>
                </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Wrapper -->
  <!-- Footer -->
  <div class="log-in-footer marg" >
    <ul class="log-in-footer-nav">
      <li><a href="">about us</a></li>
      <li><a href="">jobs</a></li>
      <li><a href="">user agreement</a></li>
      <li><a href="">privacy policy</a></li>
    </ul>
    <ul class="log-in-footer-social-media">
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
    </ul>
    <div class="log-in-bottom">
      <p>© 2016 Deep Dive Sports</p>
    </div>
  </div>
  <!-- Footer -->
</div>
<!-- Main ENds Here