
@media (min-width: 1900px) {
    /* Dashboard Panel
    ===================== */
    .carousile-img-container a{margin-top: 2%;}
}
/* Dashboard Panel
===================== */

@media (max-width: 1660px){
    /* Dashboard Panel
    ===================== */
    .dashboard-wrapper{padding-left: 15px;padding-right: 15px;}
    .dashboard-middle-panel{padding-left: 15px;}
    .top-left-panel h1,.middle-wrapper-panel h4,.panel-title > a.collapsed::before,.panel-title > a::before,.information-panel h1{font-size: 16px;}
    .top-left-panel h2,.heading-panel p, .heading-title p,.collapse-add,.information-panel a,.article-info h2,.league-bottom ul li ul li a{font-size: 14px;}
    .form-wizard > ul > li a,.league-text-container h2,.tabs-bg-inner .form-wizard > ul > li a,.stat-tab .form-wizard > ul > li a,.information-panel p,.article-info p,
    .chat-panel-text-container h2,.chat-panel-text-container span {font-size: 12px;}
    .league-text-container p,.article-info h3,.carousile-text-container h1,.chat-panel-text-container p{font-size: 10px;}
    .carousile-text-container a{font-size: 8px;}
    .carousile-text-container h1{margin-bottom:5px;}

    /* Middle Top Panel */
    .middle-top-panel {height: 123px;}
    .top-left-panel h1 span{font-size: 10px;height: 15px;width: 20px;top: 0;}
    .top-left-panel h1 span:nth-of-type(1) {margin-left: 2px;}
    ul.top-left-nav{width: 60px;}
    .top-rigt-text-panel{padding-right: 6px;}
    .top-rigt-text-panel ul{position: absolute;}
    ul.top-left-nav{height: 122px;}
    ul.top-left-nav li{height: 60px;}
    .top-rigt-text-panel ul{bottom: 0px;margin: 0;position: absolute;right: 66px;width: 130%;z-index: 30;}
    .stat-tab .form-wizard > ul > li a{line-height: 17px;}
    /* Middle Top Panel */
    .tabs-bg, .stat-inner{padding-left: 5px;padding-right: 5px;}
    .carousile-text-container{width:72%;}
    .panel-body .col-sm-2.col-md-2{padding-left: 5px;padding-right: 5px;}
    .carousile-img-container{border: hidden;}
    /*=== League Table  ===*/
    .league-table-inner .league-table-bar:first-child p,.league-table-bar i{font-size: 14px;}
    .league-table-bar ul li{font-size: 12px;padding: 0 8.5px;}
    .league-table-inner .league-table-bar:first-child ul li{padding: 0 7px;}
    .league-table-bar ul li span{width: 10px;height: 10px;}
    .league-table-bar ul li span{margin: 0;}
    /*=== League Table  ===*/

    /*=== Stats Table  ===*/
    .stats-inner-container{text-align: center;}
    .stats-inner-container .left-panel{width: 100%;}
    .stats-inner-container .google-add{float: none;width: 50%;text-align: center;margin-top: 25px;}
    .stats-inner-container .left-panel ul li a{font-size: 9px;}
    /*=== Stats Table  ===*/

    /*=== Match Report Table  ===*/
    .match-report-container h2{font-size: 16px;}
    .differnce-container p{font-size: 13px;}
    .differnce-container span{font-size: 12px;}
    /*=== Match Report Table  ===*/

    /*=== Player Table  ===*/
    .players-inner-container .left-panel ol li{padding-left: 20%;}
    .players-inner-container .left-panel ul li{font-size: 14px;}
    .players-inner-container .left-panel ol li a{font-size: 12px;}
    .players-inner-container .left-panel ol li::before{top: 24%;font-size: 12px;}
    .players-inner-container .left-panel ol li::after{display: none;}
    /*=== Player Table  ===*/



    /* dashboard-left-wrapper */
    .heading-panel > p {font-size: 11px;}
    .league-text-container p{line-height: 12px;}
    .league-text-container{padding-left: 8px;}
    .league-text-container img{margin-top: 5px;}
    .league-bottom{padding-top: 15px;}
    .league-bottom ul li ul{width: 150px;}
    .heading-panel-search input {
        left: -30px;
        width: 120px;
        font-size: 12px;
        height: 25px;
    }
    /* dashboard-Right-wrapper */
    .chat-panel-text-container{width: 72%;}
    .chat-panel-text-container span {margin-top: 5px;}
    .form-wizard ul li a {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
        padding-left: 22px;
        padding-top: 12px;
    }
    /* Dashboard Panel
    ===================== */

    /* Dashboard Option
    =================== */
    .league-top-container .carousile-text-container{width: 60%;}
    #dashboard-main .carousile-img-container{height:55px;}
    .carousile-img-container{height: auto;}
    /* Dashboard Option
    =================== */



}

@media (max-width: 1092px) {
    .teams p{max-height:25px;overflow: hidden; }
}

@media (min-width: 768px) and (max-width: 1025px) {
    /* Log In Css
    -=================== */
    .log-in-wrapper-inner-main .container{width: 100%;}
    /* Right Panel */
    .log-in-right-panel{padding-left: 15px;padding-right: 15px;}
    .log-in-right-panel h1{margin-top: 10px;}
    .forget-stay-conatiner{font-size: 12px;}
    /* Right Panel */
    /* Log In Css
    -=================== */
    .header-left-panel li,.header-search-bar input{margin-left: 10px;}
    .header-right-panel{font-size: 12px;}
    .header-right-panel ul li {padding-left: 5px;padding-right: 5px;}
    .popup-inner{width: 45%;}
    /* Dashboard Panel
    ===================== */
    .dashboard-wrapper{padding-top: 135px;}
    .league-text-container h2{font-size: 14px;}
    .heading-panel p, .heading-title p{font-size: 12px;}
    /* dashboard-left-wrapper dashboard-Right-wrapper */
    .dashboard-left-wrapper{position: absolute;width: 35%;left: 0;top: 70px;z-index: 30;}
    .dashboard-right-tabs{position: absolute;width: 35%;right: 0;top: 70px; z-index: 30;}
    .mobile-left-hover-panel,.chat-right-hover-panel{display: block;}
    .dashboard-left-inner-wrapper,.right-tab-container-wrapper{display: none;}
    /* dashboard-left-wrapper dashboard-Right-wrapper */
    .dashboard-middle-panel{width: 100%;}
    .news-panel .carousile-text-container p{max-height: 23px;overflow: hidden;}
    /* Dashboard Panel
    ===================== */
    /*=== Player Table  ===*/
    .players-inner-container .left-panel ol li{padding-left: 15%;}
    /*=== Player Table  ===*/

    /*=== Stats Table  ===*/
    .stats-inner-container{text-align: auto;}
    .stats-inner-container .left-panel{width: 70%;}
    .stats-inner-container .google-add{float: right;width: 30%;text-align: center;}
    .stats-inner-container .left-panel ul li a{font-size: 10px;}
    /*=== Stats Table  ===*/

    /* Select Sport
    =================== */
    .sport-img-container p{font-size: 12px;}
    /* Select Sport
    =================== */

    /* Dashboard Option
    =================== */
    .dashboard-option-wrapper{padding-bottom: 40px;}
    .dashboard-option-wrapper h1{font-size: 50px;margin-top: 40px;}
    .dashboard-option-wrapper p{font-size: 18px;}
    .dashboard-carousile-panel .carousile-img-container {max-width: 40px;}
    .trending h2, .teams h2, .my-league h2{font-size: 14px;}
    .dashboard-carousile-panel .col-sm-4{padding-left: 5px;padding-right: 5px;}
    .dashboard-carousile-panel #eventCarousel{padding-left: 20px;padding-right: 20px;}
    /* Dashboard Option
    =================== */



}

@media (max-width: 767px) {
    /* Log In Css
    -=================== */
    /* Left Panel */
    .log-in-left-panel{display: none;}
    .log-in-header{padding-top: 6%;}
    /* Left Panel */

    /* Right Panel */
    .log-in-right-panel ul{margin-bottom: 0;}
    .log-in-right-panel h1,.log-in-right-panel h1:nth-of-type(2){margin-top: 10px;}
    /* Right Panel */
    /* Log In Css
    -=================== */

    /* Dashboard Panel
    ===================== */
    .dashboard-wrapper{padding-top: 135px;}
    .dashboard-left-wrapper{position: absolute;width: 30%;left: 0;top: 70px;z-index: 33;}
    .dashboard-right-tabs{position: absolute;width: 30%;right: 0;top: 70px;z-index:33;}

    /* Header */
    header,footer{padding-left: 10px;padding-right: 10px;}
    .logo{width: 110px;margin-top: 10px;}
    .header-left-panel ul{display: none;}
    .header-left-panel li {margin-left: 4px;}
    .header-right-panel ul li{padding-left: 3px;padding-right: 3px;}
    .header-right-panel ul li a,.header-right-panel ul li span,.header-right-panel ul li{font-size: 10px;}
    .header-right-panel ul li i{top: 5px;}
    .header-right-panel ul li i a{margin-left: 5px;}
    .header-right-panel ul li:nth-of-type(3) img{display: none;}
    .header-search-bar input {
        height: 25px;
        position: absolute;
        left: -90px;
        top: 10px;
        width: 90px;
        margin: 0;
        font-size: 12px;
    }

    /* Header */

    /* Right Panel */
    .dashboard-left-inner-wrapper,.right-tab-container-wrapper{display: none;}
    .mobile-left-hover-panel,.chat-right-hover-panel{display: block;}
    .dashboard-left-wrapper,.dashboard-left-wrapper,.dashboard-right-tabs{width: 45%;}
    .heading-panel p, .heading-title p{font-size: 12px;}
    .heading-title img{display: none;}
    .heading-title p{padding:0;}
    .league-img-container{width: auto;}
    .league-text-container{width: 100%;}
    .heading-panel, .heading-title, .league-card{padding-left: 5px;padding-right: 5px;}
    .league-bottom{padding-top: 10px;}
    .league-bottom ul{margin-bottom: 0;}
    /*.dashboard-left-inner-wrapper, .right-tab-container-wrapper{display: block;}*/
    .mobile-left-hover-panel a, .chat-right-hover-panel a{font-size: 14px;}
    .league-text-container{padding-left: 0;}

    #tab-inner1 form, #tab-inner2 form, #tab-inner3, #tab-inner4, .chat-panel{padding-left: 5px;padding-right: 5px;}
    .chat-panel-img-container{width: 50px;}
    .form-wizard > ul > li a span{display: none;}
    .form-wizard ul li a {
        font-size: 11px;
        line-height: 13px;
        padding: 11px 0 16px;
        text-align: center;
    }
    /* Right Panel */

    /* dashboard-left-wrapper */
    .dashboard-middle-panel{width: 100%;padding: 0;}
    /* dashboard-left-wrapper */
    .middle-top-panel {display: inline-block;height: auto;width: 100%;}
    ul.top-left-nav{width: 50px;}
    .top-rigt-text-panel {padding-right: 4px;}
    .top-rigt-panel {display: inline-block; width: 55% ;}
    .top-left-panel{width: 45%;display: inline-block}
    .top-left-panel img{margin-bottom: 25px;}
    ul.top-left-nav{height: 146px;}
    ul.top-left-nav li {height: 49%;}
    .Top-img-container{text-align: center;}
    .about-panel{width: 29%;display: inline-block;text-align: center;margin-right: 10px;min-width: 135px;}
    .about-inner p{width: 100%;}
    .article-map-panel{margin-top: 0;}
    .news-panel .col-sm-4, .news-panel .col-md-4 {display: block;padding-left: 12.5px;padding-right: 12.5px;width: 100%;}
    .panel-body .col-sm-2.col-md-2 {display: inline-block;padding-left: 5px;padding-right: 5px;width: 48%;}
    .news-panel .carousel-control {border-radius: 50%;height: 22px;top: 40%;width: 22px;}
    .news-panel .left.carousel-control{left: -10px;}
    .news-panel .right.carousel-control{right: -10px;}
    .news-panel .carousel-control .glyphicon-chevron-left,
    .news-panel .carousel-control .glyphicon-chevron-right,
    .news-panel .carousel-control .icon-prev,
    .news-panel .carousel-control .icon-next{margin-top: -13px;}
    #dashboard-main .carousile-img-container{border: hidden;}
    /* dashboard-left-wrapper */

    /*=== League Table  ===*/
    .league-table-inner .league-table-bar:first-child p,.league-table-bar i,.league-table-bar p{font-size: 12px;}
    .league-table-bar ul li{font-size: 10px;padding: 0 8.5px;}
    .league-table-inner .league-table-bar:first-child ul li{padding: 0 7px;}
    .league-table-bar ul li span{width: 10px;height: 10px;}
    .league-table-bar ul li span{margin: 0;}
    .league-table-bar p{padding-left: 0;}
    .league-table-bar li:last-child {padding: 0 5px;}
    /*=== League Table  ===*/
    /*=== Stats Table  ===*/
    .stats-inner-container .left-panel ul li a{font-size: 8px;}
    /*=== Stats Table  ===*/
    /*=== Top Scorer Table  ===*/
    .top-scorers-inner .left-panel h2{font-size: 14px;}
    .top-scorers-inner .left-panel ul li{font-size: 11px;}
    .top-scorers-inner .left-panel ul li a{font-size: 10px;}
    /*=== Top Scorer Table  ===*/



    /* Footer */
    footer{height: auto;padding-top: 12px;}
    .footer-left-panel,.footer-right-panel{display: block;float: none;text-align: center;}
    .footer-nav > li{padding-left: 7px;padding-right: 7px;}
    .footer-social-media > li{padding-left: 18px;padding-right: 18px;}
    .footer-left-panel > img{width: 120px;}
    footer ul li a,footer p{font-size: 16px;}
    /* Footer */

    /* Dashboard Panel
    ===================== */

    /* Dashboard Option
    =================== */
    .dashboard-option-wrapper{padding-bottom: 40px;}
    .dashboard-option-wrapper h1{font-size: 40px;margin-top: 40px;}
    .dashboard-option-wrapper p {font-size: 16px;line-height: 22px;margin: 8px auto 15px;max-width: 90%;}
    .dashboard-option-wrapper a{line-height: 40px;width: 170px;font-size: 20px;}
    #trending-carousile h1, #teams-carousile h1, #league-carousile h1{font-size: 18px;}
    .trending h2, .teams h2, .my-league h2{font-size: 10px;}
    .dashboard-carousile-panel .bottom-panel ul li:nth-last-child(1),.dashboard-carousile-panel .bottom-panel p,.trending p span, .teams p span, .my-league p span{display: none;}
    .dashboard-carousile-panel .bottom-panel,.dashboard-carousile-panel .carousile-text-container{padding: 0;}
    .bottom-panel ul{display: block;text-align: center;width: 100%;}
    .trending p, .my-league p{text-align: left;}
    .teams p {max-height: 14px;overflow: hidden;}

    .carousel-inner .item .col-sm-4{display: inline-block;width: 32.9%;padding-left: 2.5px;padding-right: 2.5px;}
    .carousile-img-container{margin-left: 3px !important;width: 16%;}
    .league-top-container .right-img{margin-right: 3px;margin-left: 0;}
    .carousile-text-container{text-align: center;}
    .carousile-text-container{width: 74%;}
    .bottom-panel {margin-top: 10px;}
    #trending-carousile .carousel-control, #teams-carousile .carousel-control, #league-carousile .carousel-control{width: 22px;}
    .dashboard-carousile-panel .carousel-inner{width: 88%;}
    .heading-panel p{display: none;}
    .heading-panel, .heading-title {display: inline-block;position: relative;width: 100%;}
    .heading-panel{float: left;}
    .heading-panel-search{width: 100%;}
    .heading-panel-search a{float: left;}
    .heading-panel-search input {left: 11%;width: 88%;}

    /* Dashboard Option
    =================== */


    /* Select Sport
    =================== */
    .sports-panel-header{height: 40px;padding-top: 4px;}
    .sport-img-container p{font-size: 10px;margin: 0;}
    .sports-panel-header h1{font-size: 14px;margin-top: 8px;}
    .search-container{width: 240px;}
    .sports-carousile-container{height: 120px;}
    #sports-main .carousel-control{height: 68%;}
    .sports-select-container .sport-img-container{width: 20%;margin-bottom: 10px;height:80px;}
    .sport-img-container img{width:40%; }
    .sport-img-container span img{width:auto !important; }
    .sports-wrapper-footer{height: 40px;padding-top: 2px;}
    .sports-wrapper-footer input{margin-top:4px;width: 85px;height: 30px; }
    #sports-main footer{line-height: 30px;}
    .sports-select-container{padding-top: 12px;padding-bottom: 12px;}
    /* Select Sport
    =================== */

    .popup-inner{
        width: 90%;
    }

}


@media (max-width: 450px) {
    /* Log In Css
    -=================== */
    /* Footer */
    .log-in-footer-nav li{margin-right: 10px;}
    .log-in-footer-nav li a{font-size: 12px;}
    .log-in-bottom {padding-top: 3%;}
    /* Footer */
    /* Log In Css
    -=================== */

    /* Dashboard Panel
    ===================== */
    /* Header */
    header{padding-left: 10px;padding-right: 10px;}
    .header-right-panel li:nth-of-type(2){display: none;}
    .logo{width: 100px;margin-top: 12px;}
    .header-left-panel ul{display: none;}
    .header-right-panel ul li{padding-right: 7px;}
    .header-right-panel ul li a{font-size: 10px;}
    .header-right-panel ul li a span{font-size: 12px;}
    .header-search-bar input{left: 5px;top: 33px;width: 170px;}
    .header-right-panel ul li ul li:nth-of-type(2){display: block;}
    .popup-inner h2,.popup-inner input{font-size: 12px;}
    /* Header */


    /* Left Panel */
    .dashboard-left-wrapper, .dashboard-left-wrapper,.dashboard-right-tabs{width: 63%;}
    .chat-right-hover-panel,.mobile-left-hover-panel{width: 120px;}
    .mobile-left-hover-panel a, .chat-right-hover-panel a,.invite a,.invite h2 span,.invite label{font-size: 12px;}
    .invite h2{font-size: 14px;}
    .mobile-left-hover-panel{float: left;}
    .chat-right-hover-panel{float: right;}
    .chat-panel-img-container{width: 50px;}
    .form-wizard > ul > li a span{display: none;}
    .tabs-bg-inner .form-wizard > ul > li a,.tabs-bg-inner .form-wizard > ul > li.active a{font-size: 10px;}


    /* dashboard-left-wrapper */
    .top-left-panel img {margin-bottom: 0;}
    .top-left-panel,.top-rigt-panel{display: block;width: 100%;}
    .top-rigt-text-panel ul{width: 100%;text-align: center;right: 0;}
    ul.top-left-nav {height: 115px;margin-bottom: 25px;}
    .top-rigt-text-panel{float: left;text-align: left;padding-left: 11px;}
    .about-panel {width: 44%;min-width: 110px;}
    .article-map-panel{height: 250px;}
    .collapse-add{padding-top: 0;}
    /* dashboard-left-wrapper */

    /*=== League Table  ===*/
    .stat-tab .form-wizard > ul > li a {font-size: 10px;line-height: 17px;padding: 0 0 5px;text-align: left;}
    #Stats-collapse .tab-content{padding-top:10px;}
    .league-table-inner .league-table-bar:first-child p, .league-table-bar i, .league-table-bar p{font-size: 10px;}
    .league-table-inner .league-table-bar:first-child ul li{font-size: 8px;padding: 0 1.5px;}
    .league-table-bar ul li {font-size: 8px;padding: 0 1.5px;}
    /*=== League Table  ===*/

    /*=== Stats Table  ===*/
    .stats-inner-container .left-panel ul li{font-size: 10px;}
    .stats-inner-container .left-panel ul li i{width: 5%;float: left;}
    .stats-inner-container .left-panel h2{font-size: 9px;}
    .stats-inner-container .left-panel ul li p{padding-left: 0;text-align: center;}
    .stats-inner-container .left-panel ul li p:nth-of-type(3){width: 35%;}
    .stats-inner-container .left-panel ul li p:nth-of-type(2){width: 20%;}
    /*=== Stats Table  ===*/

    /*=== Top Scorer Table  ===*/
    .top-scorers-inner .left-panel{width: 100%;}
    .top-scorers-inner .left-panel h2{font-size: 12px;}
    .top-scorers-inner .left-panel ul li{font-size: 10px;}
    .top-scorers-inner .left-panel ul li a{font-size: 9px;}
    /*=== Top Scorer Table  ===*/
    /*=== Match Report Table  ===*/
    .match-report-container .left-panel{width: 100%;}
    .match-report-container h2{font-size: 14px;}
    .differnce-container p{font-size: 12px;}
    .differnce-container span{font-size: 10px;}
    .match-report-container .over-all, .match-report-container .shots, .match-report-container .passes, .match-report-container .attack{padding-top: 20px;padding-bottom: 20px;}
    .match-report-container h2{margin-bottom: 10px;}
    /*=== Match Report Table  ===*/

    /*=== Player Table  ===*/
    .google-add{display: none;}
    .players-inner-container .left-panel{width: 100%;}
    .players-inner-container .left-panel ul li{font-size: 12px;}
    .players-inner-container .left-panel ol li a{font-size: 10px;}
    .players-inner-container .left-panel ol li::before{top: 30%;font-size: 10px;}

    /*=== Player Table  ===*/




    /* Footer */
    footer p{font-size: 14px;}
    .footer-nav{width: 100%;}
    .footer-right-panel .footer-nav li{display: block;}
    footer{line-height: 45px;padding-top: 12px;}
    /* Footer */

    /* Dashboard Panel
    ===================== */

    /* Sports Css Starts Here
    ========================= */
    .footer-right-panel .footer-nav li{display: inline-block;}
    #sports-main footer{line-height: 30px;}
    #sports-main footer ul li a, footer p{font-size: 12px;}
    /* Sports Css Starts Here
    ========================= */

    /* Select Sport
    =============== */
    .sports-panel-header,.sports-wrapper-footer{padding-left: 5px;padding-right: 5px;}
    .sports-panel-header h1 {font-size: 12px;margin-top: 8px;}
    .sport-img-container p{font-size: 10px;}
    .search-container {width: 200px;}
    .sports-panel-header input{font-size: 12px;max-width: 85%;}
    .sports-wrapper-footer-p-container span{font-size: 9px;}
    .sports-wrapper-footer input {height: 25px;margin-top: 8px;width: 75px;font-size: 14px;}
    /* Select Sport
    =============== */

    /* Dashboard Option
    =================== */
    .dashboard-carousile-panel h1{font-size: 25px;}
    .dashboard-carousile-panel p {font-size: 14px;line-height: 20px;margin: 4px auto 15px;max-width: 90%;}
    .dashboard-carousile-panel a {font-size: 16px;line-height: 35px;width: 150px;}
    .dashboard-carousile-panel .carousile-img-container{width: 15%;}
    .dashboard-carousile-panel .trending h2,.dashboard-carousile-panel .teams h2,.dashboard-carousile-panel .my-league h2 {font-size: 14px;}
    #teams-carousile .carousile-text-container{width: 70%;float: right;}
    .dashboard-carousile-panel .carousile-text-container p {font-size: 10px;height: 12px;line-height: 12px;margin: 0;overflow: hidden;}

    /* Dashboard Option
    =================== */
    .dashboard-option-main,#sports-main{width: 450px;}
    .news-panel{display: none;}

}


@media (max-height: 649px) {
    /* Log In Css
    -=================== */
    .log-in-header{padding-top: 1.5%;height: 13%;}
    .log-in-header img {width: 125px;}
    /* Right Panel */
    .log-in-right-panel h1{font-size: 12px;}
    .log-in-right-panel input{margin-bottom: 5px;height: 24px;font-size: 11px;}
    .log-in-right-panel .submit{line-height: 9px;height: 25px;}
    .log-in-right-panel ul li{width: 20px;height: 20px;}
    .log-in-right-panel ul li a{padding-top: 1px;}
    .log-in-right-panel h1, .log-in-right-panel h1:nth-of-type(2),
    .forget-stay-conatiner .checkbox,
    .forget-password{margin-bottom: 5px;}
    .forget-stay-conatiner .checkbox,.forget-password{font-size: 12px;}
    .checkbox input {height: 15px;margin-top: 0;}
    /* Right Panel */
    .log-in-wrapper .form-group{margin-bottom: 5px;}
    .log-in-footer-nav,.log-in-footer-social-media{margin: 0;}
    .log-in-bottom{padding-top: 1%;}
    .log-in-bottom p{font-size: 12px;}
    /* Left Panel */
    .log-in-left-panel h1 {font-size: 40px;}
    .log-in-left-panel h3 {font-size: 16px;}
    .log-in-left-panel h2 {font-size: 20px;}
    .log-in-left-panel p{margin-bottom: 10px;}
    .log-in-left-panel > a{display: inline-block;width: 150px;}
    .log-in-left-panel > a img{max-width: 100%;}
    .log-in-right-panel h1{margin-top: 10px;}
    .log-in-right-panel input {font-size: 10px;height: 20px;padding: 0 0 0 37px;}
    .log-in-right-panel .submit{height: 23px;}
    /* Left Panel */
    /* Log In Css
    -=================== */

    /* Select Sports
    ================ */
    #sports-main header{height: 50px;padding-top: 0;}
    .sports-panel-header{height: 40px;padding-top: 4px;}
    .sport-img-container p{font-size: 10px;margin: 0;}
    .sport-img-container img{ width: 25%;}
    .sport-img-container span img{ width:auto !important;}
    .sports-select-container .sport-img-container{height:75px;}
    .sports-panel-header h1{font-size: 14px;}
    .sports-carousile-container{height: 100px;}
    .sports-select-container{height: 120px;overflow: hidden;}
    .sports-wrapper-footer{height: 40px;padding-top: 0;}
    .sports-wrapper-footer input{height: 25px;font-size: 14px;width: 130px;margin-top: 3px;margin-bottom: 3px;}
    .sports-select-container {
        border-bottom: 1px solid #ccc;
        display: inline-block;
        float: left;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        height: 95px;
    }
    .sports-wrapper-footer-p-container span{display: none;  }
    #sports-main .carousel-control{height: 64%;}
    #sports-main .footer-social-media,#sports-main .footer-left-panel{display: none;}
    /* Select Sports
    ================ */
}
@media (max-height: 450px) {
    /* Log In Css
    -=================== */
    .log-in-header{padding-top: 0.5%;height:12%;}
    .log-in-wrapper{height: 76%;}
    .log-in-footer{height: 12%;}
    .log-in-header img{width: 100px;}
    /* RIght Panel */
    .log-in-right-panel input{display: inline-block;width: 49%;}
    .log-in-right-panel input{padding-left: 26px;background-position: 8px center;}
    .log-in-right-panel{text-align: center;}
    /* RIght Panel */
    .forget-stay-conatiner{display: inline-block;width: 100%;}
    .forget-stay-conatiner .radio input[type="radio"],.forget-stay-conatiner .radio-inline input[type="radio"],
    .forget-stay-conatiner .checkbox input[type="checkbox"],.forget-stay-conatiner .checkbox-inline input[type="checkbox"]{
        margin-left: -33px;
    }
    .log-in-bottom{display: none;}
    /* Left Panel */
    .log-in-left-panel h1 {font-size: 20px;}
    .log-in-left-panel h3,.log-in-left-panel h2{margin-top: 10px;}
    .log-in-left-panel h3,.log-in-left-panel h2{font-size: 12px;}
    .log-in-left-panel p{font-size: 10px;}
    .log-in-left-panel > a{width: 120px;}
    a.forget-password,.forget-stay-conatiner .checkbox,.log-in-right-panel .form-group{margin-bottom: 0}
    .log-in-right-panel .submit{height: 21px;}
    /* Left Panel */
    /* Log In Css
    -=================== */

    /* Select Sports
    ================ */
    #sports-main .footer-social-media,#sports-main .footer-left-panel,.sports-panel-header{display: none;}
    #sports-main footer{padding: 0;height:40px;line-height: 35px;}
    .sports-wrapper {height: 100%;}
    #sports-main .footer-right-panel{float: none;display: block;text-align: center;}
    /* Select Sports
    ================ */
    .popup-inner{padding:10px;}
    .popup-inner h2{margin-top: 10px;margin-bottom: 5px;}
    .popup-inner input{height: 30px;font-size: 10px;}
    .popup-inner .form-group{margin: 0;}
    .close, .close-1{top: -8px;}
}