*{margin: 0px;padding: 0px;}
html,body {width: 100%;height: 100%;}
a{text-decoration: none;}
ul{list-style: none;}
input[type=text]::-moz-clear {display: none;}
input[type=text]::-ms-clear {display: none;}
/* Main */
/* Log-In Starts Here
===================== */
.log-in-main{
    width:100%;
    height: 100%;
    background: url(../assets/login-bg.jpg) center bottom no-repeat;
    background-size: cover;
}
/* Header
========= */
.log-in-header{
    height: 15%;
    width:100%;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
}
@media (max-width: 1900px) {
    .log-in-header img{width: 200px;}

}
/* Header
========= */

/* Wrapper
========== */
.log-in-wrapper{
    height: 70%;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.log-in-wrapper-inner{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:table;
}
.log-in-wrapper-inner-main{
    height:100%;
    width:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

/* Log In Left Panel */
.log-in-left-panel{position: relative;text-align: left;}
.log-in-left-panel h1{font-size: 76px;}
.log-in-left-panel h3{font-size: 26px;   }
.log-in-left-panel h2{font-size: 30px; margin-bottom: 5px;  }
.log-in-left-panel p{font-size: 16px; margin-bottom: 30px;  }
.log-in-left-panel a:nth-of-type(1){margin-right: 8px;}
/* Log In Left Panel */

/* Log In Right Panel */
.log-in-right-panel{
    text-align: left;
    border-radius: 10px;
    border:1px solid #878787;
    padding-left: 20px;
    padding-right: 20px;
}
.log-in-right-panel h1{font-size: 18px;margin-top: 15px; }
.log-in-right-panel h1:nth-of-type(2){margin-top:0;}
.log-in-right-panel input{
    font-size: 14px;
    border:1px solid #515151;
    margin-bottom: 7px;
    padding-left: 38px;
    position: relative;
    background-repeat: no-repeat;
    background-position:14px center;
    height: 27px;

}
.log-in-right-panel input.log-in-mail{background-image: url(../assets/icone-1.png); }
.log-in-right-panel input.log-in-password{ background-image: url(../assets/icone-2.png); }
.log-in-right-panel input.log-in-text{background-image: url(../assets/icone-3.png); }
.forget-stay-conatiner .checkbox{
    display: inline-block;
    float: left;
    margin: 0;
    margin-bottom: 10px;
}
a.forget-password{
    display: inline-block;
    float: right;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.log-in-right-panel ul{display: block;text-align: center;position: relative;}
.log-in-right-panel ul:before{
    width: 100%;
    height: 1px;
    background: url(../assets/border.png);
    top: 45%;
    left: 0;
    position: absolute;
    content: "";
}
.log-in-right-panel ul li{
    border-radius:50%;
    border:1px solid #515151;
    margin-left: 8px;
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
}
.log-in-right-panel ul li a{
    display: block;
    font-size: 12px;
    padding-top:6px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.log-in-right-panel ul li{display: inline-block;}
.log-in-right-panel label input{height: auto !important;}
.log-in-right-panel .submit{
    height: 30px;
    padding-left: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* Wrapper
========== */

/* Footer
========= */
.log-in-footer{height: 15%;width: 100%;overflow: hidden;}
.log-in-footer ul{display: block;text-align: center;}
.log-in-footer ul li{display: inline-block;}
.log-in-footer-nav li{margin-right: 18px;}
.log-in-footer-social-media{ margin-bottom: 15px;margin-top: 10px;}
.log-in-footer-social-media li{margin-right: 29px;}
.log-in-footer ul li a{
    text-transform: capitalize;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.log-in-bottom{
    text-align: center;
    width: 100%;
    border-top: 1px solid #2c2c2c;
    padding-top:2%;
}
@media (max-width: 1900px) {
    .log-in-bottom{padding-top:0.5%;}

}
/* Footer
========= */

/* Log-In Ends Here
===================== */



/* Dashboard Css Starts Here
============================= */
#dashboard-main{position: relative; width: 100%;}

/* Header Starts Here
===================== */
header{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 18px;
    padding-right: 23px;
    width: 100%;
    border-bottom: 2px solid #249ade;
    height: 70px;
    padding-top: 12px;
    z-index: 9999;
}
header ul li{display: inline-block;}
/* Header Left Panel */
.header-left-panel{display: inline-block;float: left;}
.header-left-panel ul{display: inline-block;}
.header-left-panel li{margin-left: 20px;position: relative;top: 7px;}
.header-left-panel li a{
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header-left-panel li a span{
    background: #f66e68 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    height: 15px;
    line-height: 16px;
    position: absolute;
    right: -9px;
    text-align: center;
    top: -3px;
    width: 15px;
}

/* Header Left Panel */

/* Header Right Panel */
.header-right-panel{display: inline-block;float: right;}
.header-right-panel ul li{
    line-height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
}
.header-right-panel li:nth-child(1):before{display: none;}
.header-right-panel ul li:before{
    position: absolute;
    width: 1px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    left: 0;
    top: 25%;
    content: "";
}
.header-right-panel ul li a{
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header-right-panel ul li span{font-size: 16px;}
.header-right-panel ul li i a{
    margin-left: 12px;
    position: relative;
    width: 15px;
    height: 10px;
    cursor: pointer;
    display: inline-block;
    background:url(../assets/icone-5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-right-panel ul li i a:hover{
    background:url(../assets/icone-17.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-right-panel ul li ul{
    position: absolute;
    top: 27px;
    right: 0;
    height: auto;
    width: 150px;
    display: none;
    background: #fff;
    border-radius: 5px;
    border:1px solid #ccc;
}
.header-right-panel ul li ul li{
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.header-right-panel ul li ul li:last-child{
    border-bottom: hidden;
}
.header-right-panel ul li ul li a{
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.popup{
    position: fixed;
    height:100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    text-align: left;
    left: 0;
    top: 0;
}
.popup-inner{
    width: 35%;
    padding: 1%;
    background: #fff;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
}
.popup-inner h2{
    text-align: left;
    font-size: 18px;
}
.popup-inner input{
    margin-bottom: 15px;
}
.popup-inner .submit{
    margin: 0 auto;
    border-radius: 3px;
    width: 50%;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header-right-panel ul li:nth-of-type(3) img{display: inline-block;width: 25px;}
.header-right-panel ul li span i,
.header-right-panel ul li span i:hover{background: none;}
.header-search-bar input {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    display: none;
    width: 150px;
}
/* Header Right Panel */

/* Header ENds Here
===================== */



/* Dashboard Wrapper Starts Here
=============================== */
.dashboard-wrapper{
    width: 100%;
    position: relative;
    padding-top: 100px;
    background:#fff url(../assets/bg-1.png);
    background-repeat: repeat;
    padding-left: 40px;
    padding-right: 27px;
    display: inline-block;
}
/* Dashboard Left Wrapper Starts Here
===================================== */
.dashboard-left-wrapper{display: inline-block;position: relative;padding: 0;}

/* Mobile Chat hover panels */
.mobile-left-hover-panel,
.chat-right-hover-panel{
    border: 1px solid #d2d2d2;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 35px;
    cursor: pointer;
    text-align: right;
    width: 100%;
    display: none;
}
.mobile-left-hover-panel a,
.chat-right-hover-panel a{
    width: 100%;
    display: block;
    background-image: url(../assets/icone-12.png);
    background-position: 10px center;
    font-size: 16px;
    line-height: 38px;
    background-repeat: no-repeat;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    padding-left: 35px;
}
.mobile-left-hover-panel a:hover{background: url(../assets/icone-11.png);background-repeat: no-repeat;background-position: 10px center; }
.chat-right-hover-panel a{background-image: url(../assets/icone-13.png);}
.chat-right-hover-panel a:hover{background-image: url(../assets/icone-14.png);background-repeat: no-repeat;background-position: 10px center; }
/* Mobile Chat hover panels */

/* Heading Panels */
.heading-panel,.heading-title,.league-card{padding-left: 14px;padding-right: 14px;    }
.heading-panel,.heading-title{position: relative;display: block; }
.heading-panel p,
.heading-title p{
    line-height: 45px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
.heading-panel-search{float: right;padding-top: 12px;padding-bottom:12px;display: inline-block;position: relative;width:50%;}
.heading-panel-search a{float: right;cursor: pointer;}
.heading-panel-search input{position: absolute;top: 13px;display:none;border:hidden;border-radius: 3px;z-index: 20;width: 85%;padding-left: 5px;}
.heading-panel-search-place{display: block !important; left: 0;}
.heading-title p{padding-left: 10px;text-transform: inherit;}
.heading-title img{float: left;display: inline-block;padding-top: 10px;}
/* Heading Panels */
/* League Card */
.league-card{
    position: relative;
    padding-top: 20px;
    border-left: 1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;/*
    background:#fff url(../assets/shadow.png);background-repeat:no-repeat;background-position: bottom;*/

    /*    box-shadow: 10px 10px 5px grey;
    */}
.league-img-container{
    padding: 2px;
    border:1px solid #afadaf;
    display: inline-block;
    float:left;
    width: 27%;
}
.league-img-container img{width: 100%;}
.league-text-container{display: inline-block;float: left;width: 73%;padding-left: 13px;}
.league-text-container h2{font-size: 16px;margin-top: 4px;display: inline-block;}
.league-text-container img{display: inline-block;float: right;}
.league-text-container p{font-size: 12px;margin: 0;}
.league-bottom{display: inline-block;width: 100%;padding-top: 32px;}
.league-bottom ul{display: inline-block;float: left;}
.league-bottom ul li {display: inline-block;position: relative;}
.league-bottom ul li a{
    width: 21px;
    height: 15px;
    font-size: 16px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.league-bottom span{display: inline-block;float: right;padding-right: 6px;}

.league-bottom ul li a{
    width: 20px;
    height: 15px;
    font-size: 16px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.league-bottom ul li ul{
    height: auto;
    position: absolute;
    left: 0;
    text-align: center;
    top: 16px;
    width: 200px;
    z-index: 30;
    display: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.league-bottom ul li:hover ul{
    display: block;
}
.league-bottom ul li ul li{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.league-bottom ul li ul li a{
    font-size: 16px;
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 25px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}










/* League Card */

/* Dashboard Left Wrapper Ends Here
===================================== */

/* Dashboard Middle Wrapper Ends Here
===================================== */
.dashboard-middle-panel{padding-left: 20px;padding-right: 15px;padding-bottom: 55px;}
.dashboard-inner-main{position: relative;display: inline-block;width: 100%;}
.dashboard-inner-main:before{
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    width: 100%;
    height: 3px;
}
/* Middle Top Panel */
.middle-top-panel{height: 141px; position: relative;}
/* Top Left Panel */
.top-left-panel{ text-align: left; padding: 0; padding-left: 10px;}
.top-left-panel h1{font-size: 26px;margin-top: 15px;text-transform: capitalize;margin-bottom: 0;}
.top-left-panel h1 span{
    font-size: 12px;
    width: 30px;
    height: 19px;
    line-height: 19px;
    background: #fff;
    margin-right: 3px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -5px;
}
.top-left-panel h1 span:nth-of-type(1){margin-left: 4px;}
.top-left-panel h2{font-size: 16px;margin: 0;text-transform: capitalize;}
.top-left-panel img{margin-right: 8px;margin-top: 9px;margin-bottom: 18px;}
.top-rigt-panel{text-align: right;display: inline-block;float: right;padding: 0;}
ul.top-left-nav{
    display: inline-block;
    width: 75px;
    text-align: center;
    height: 140px;
    margin-bottom: 0;
    overflow: hidden;
    float: right;
}
ul.top-left-nav li{background: rgba(0,0,0,0.1);height: 70px;margin-bottom: 1px;padding-top: 18px;}
ul.top-left-nav li a{font-size: 12px;text-transform: capitalize;text-decoration: none;display: block;}
ul.top-left-nav li a p{margin-bottom: 0;display: block;}
/* Top Let Panel */

/* Top Right Panle */
.top-rigt-text-panel{display: inline-block;float: right;text-align: right;padding-right: 19px;}
.top-rigt-panel h3{font-size: 16px;margin-top: 17px;margin-bottom: 2px;}
.top-rigt-panel p{font-size: 12px;margin-bottom: 0;}
.top-rigt-text-panel ul{margin-top: 45px;}
.top-rigt-text-panel ul li{
    display: inline-block;
    margin-left: 6px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.top-rigt-text-panel ul li a{
    width: 20px;
    height: 15px;
    font-size: 16px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.top-rigt-text-panel ul li ul{
    height: auto;
    position: absolute;
    right: -3px;
    text-align: center;
    top: 16px;
    width: 200px;
    z-index: 30;
    display: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.top-rigt-text-panel ul li:hover ul{
    display: block;
}
.top-rigt-text-panel ul li ul li{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.top-rigt-text-panel ul li ul li a{
    font-size: 16px;
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 25px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* Top Right Panel */

/* Middle Middle Panel */
.middle-wrapper-panel{border: 1px solid #d2d2d2;margin-top: 30px;padding-top: 28px;}
.middle-wrapper-panel h1{
    font-size: 22px;
    text-transform: capitalize;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
/* Top Img Conatainer */
.Top-img-container{ position: relative;width: 100%;border-bottom: 1px solid #d2d2d2;display: inline-block;}
.about-panel{
    border-radius: 3px;
    padding: 0;
    height: 85px;
    min-width: 85px;
    margin-right: 15px;
    position: relative;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    cursor: pointer;
}
.about-panel img{max-width: 100%;}
.about-inner{background:white;width:100%;margin:0 auto;display: block;position: relative;}
.about-inner p{font-size: 11px;margin-bottom: 0;margin-top: 1px;text-transform: capitalize;}
/* Top Img Conatainer */



/* Information Panel */
.information-panel-container{
    position: relative;
    display: none;
}
.information-panel{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: -3px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}
.information-panel h4{display: inline-block;font-size: 22px;}
.information-panel a{
    display: inline-block;
    float: right;
    font-size: 16px;
    background:url(../assets/icone-9.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.information-panel h1{display: inline-block;font-size: 22px;}
.information-panel p{display: block;float: left;line-height: 18px;margin-top: 15px;}
/* Information Panel */
.middle-wrapper-panel column{position: relative;padding: 0;    }
/* Article Panel */
.article-container{padding-top: 10px;}
.article-container .article-callapse{padding-right: 15px;}
.panel-title > a::before{
    content: "-";
    font-size: 22px;
    position: absolute;
    top:35 ;
    left: 0px;
}
.panel-title > a.collapsed::before{
    content: "+";
    font-size: 22px;
    position: absolute;
    top:35 px;
    left: 0px;
}
.panel-default > .panel-heading{background: #fff;padding: 10px 0px;}
.panel-default,.panel-body{border:hidden;}
.panel{ box-shadow: none;}
.panel-body{
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #e5e5e5;
    margin-top: -8px;
    padding-bottom: 0;
}
.middle-wrapper-panel h4{
    border-bottom: 1px solid #d2d2d2;
    display: inline-block;
    font-size: 22px;
    width: 100%;
    padding: 5px 0 8px 15px;
    text-transform: capitalize;
}
.middle-wrapper-panel h4 a{
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.article-info{ margin-bottom: 32px;}
.article-info h2{font-size: 18px;margin: 0;}
.article-info h3{font-size: 12px;margin-top: 6px;margin-bottom: 9px; }
.article-info p{font-size: 14px;line-height: 18px;margin-bottom: 7px; }
.article-info a{
    font-size: 14px;
    display: inline-block;
    border:1px solid #d2d2d2;
    width: 70px;
    position: relative;
    height: 30px;
    text-transform: capitalize;
    text-align: center;
    line-height: 28px;
    background: url(../assets/icone-9.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 16px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.article-map-panel{
    border: 1px solid #d2d2d2;
    position: relative;
    height: 341px;
    margin-top: 13px;
    background: url(../assets/map.png);
    background-size: cover;
}
/* Article Panel */



/* News Panel */
.news-panel{display: inline-block;position: relative;width: 100%;  }
#news-carousile{padding-top: 12px;}
.collapse-add{float: right;text-transform: capitalize;font-size: 16px;padding-top: 7px;}
.panel-title > a.collapse-add:before{display: none;}
/* Bootstrap Carousile Portion */
.carousel{height: auto;}
.item,.active {height: 100%;}
.carousel-inner {height: 100%;}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next{margin-top: -18px;}
.news-panel .carousel-control{
    width: 25px;
    background: #fff !important;
    color: #464646;
    border: 1px solid #d2d2d2;
    opacity: 1;
}
.carousel-inner.onebyone-carosel { margin: auto; width: 93%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.item-inner:hover .carousile-caption{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.news-panel .col-sm-4,
.news-panel .col-md-4{
    padding-right:2.5px;
    padding-left: 2.5px;
}
.news-panel .item-inner{
    padding: 5px;
    border:1px solid #afadae;
    position: relative;
    display: inline-block;
}
.carousile-img-container{
    width: 28%;
    max-width: 60px;
    text-align: center;
    height: 60px;
    display: inline-block;
    padding: 2px;
    position: relative;
    border:1px solid #afadaf;
}
.carousile-text-container{width: 70%;float: right;display: inline-block;}
.carousile-img-inner img{width: 100%;}
.carousile-text-container h1{
    font-size: 12px;
    margin: 0;
    margin-bottom: -5px;
}
.carousile-img-container a{margin-top: 19px;}
.carousile-text-container h2{margin: 0;font-size: 9px; display: inline-block;}
.carousile-text-container p{font-size: 10px;line-height: 12px;margin: 0;}
.carousile-text-container a,
.carousile-img-container a{
    display: block;
    font-size: 10px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* Bootstrap Carousile Portion */


/* News Panel */
.photo-img-cotainer{
    position: relative;
    border-radius: 3px;
    border:1px solid #d7d6d7;
    margin-bottom: 10px;
    margin-top: 10px;
}
.photo-container img{ width: 100%;}
/* News Panel */

/* STats Panel */
.stat-tab .form-wizard > ul > li{text-align: left;}
.stat-tab .form-wizard > ul > li a{ text-transform: capitalize;font-size: 16px;display: inline-block;}
.stat-tab .form-wizard > ul > li.active a{border-bottom:1px solid #4ab7f5;padding-top: 0;padding-bottom: 8px;}
.stat-tab .form-wizard > ul{ margin: 0;}
.stats-panel .tab-content{ padding-top: 0px;}
.stat-tab .form-wizard > ul > li a{padding-left: 0;}

/* League Table  */
.league-table-inner{display: inline-block;width: 100%;height: auto;border: 1px solid #d2d2d2;}
.league-table-bar{display: inline-block;width: 100%;height: 45px;border-bottom:1px solid #d2d2d2;}
.league-table-inner .league-table-bar:last-child{border-bottom:hidden;}
.league-table-bar i{display: inline-block;line-height: 45px;font-size: 16px;text-align: center;border-right:1px solid #d2d2d2;width: 7%;}
.league-table-inner .league-table-bar:first-child p{font-size: 16px;}
.league-table-bar p{display: inline-block;line-height: 45px;text-transform: capitalize;font-size: 14px;margin: 0;padding-left: 15px;font-weight: bold;}
.league-table-bar ul{display: inline-block;float: right;line-height: 45px;margin: 0;}
.league-table-bar ul li{display: inline-block;font-size: 14px;text-transform: uppercase;padding:0px 17.3px;}
.league-table-bar li:last-child {padding: 0 10px;}
.league-table-inner .league-table-bar:first-child ul li{font-weight: bold;padding: 0px 15px;}
.league-table-bar ul li span{width: 13px;height: 13px;border-radius: 50%;display: inline-block;margin-left: 1px;margin-right:1px;background: #dcdcdc;}
.league-table-bar ul li span.green{background: #6dbb00;}
.league-table-bar ul li span.red{background: #d6181f;}
/* League Table */


/* Players Table  */
.players-inner-container{display: inline-block;width: 100%;height: auto;border: 1px solid #d2d2d2;background: #fbfbfb;}
.players-inner-container .left-panel{display: inline-block;width: 70%;float: left;}
.players-inner-container .left-panel ul{display: inline-block;float: left;width: 50%;margin: 0;}
.players-inner-container .left-panel ul li{
    width: 100%;
    border-right:1px solid #d2d2d2;
    float: left;
    border-bottom: 1px solid #d2d2d2;
    height:45px;
    line-height: 45px;
    position: relative;
    padding-left: 7%;
    font-size: 16px;
    font-weight: bold;
}
/* ol Section */
ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.players-inner-container .left-panel ol li::before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 7%;
    top: 15%;
    line-height: 2em;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.players-inner-container .left-panel ol li::after{
    content: ".";
    position: absolute;
    left: 11%;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.players-inner-container .left-panel ol li{
    position: relative;
    padding-left: 16%;
}
.players-inner-container .left-panel ul li a{
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* Google Add */
.google-add{display: inline-block;padding: 1px;float: right;width: 30%;margin-bottom: 50px;}
.google-add img{display: block;max-width: 100%;}
/* Google Add */
/* Players Table */

/* Stats Table  */
.stats-inner-container{display: inline-block;width: 100%;height: auto;border: 1px solid #d2d2d2;background: #fbfbfb;}
.stats-inner-container .left-panel{display: inline-block;width: 70%;float: left;}
.stats-inner-container .left-panel h2{margin: 0;font-size: 12px;line-height: 45px;text-align: center;text-transform: capitalize;border-bottom: 1px solid #d2d2d2;}
.stats-inner-container .left-panel ul{display: inline-block;float: left;width: 100%;margin: 0;}
.stats-inner-container .left-panel ul li{
    width: 100%;
    border-right:1px solid #d2d2d2;
    float: left;
    border-bottom: 1px solid #d2d2d2;
    height:45px;
    line-height: 45px;
    position: relative;
    font-size: 14px;
}
.stats-inner-container .left-panel ul li a{
    text-decoration: none;
    font-size: 10px;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.stats-inner-container .left-panel ul li i{border-right: 1px solid #d2d2d2;display: inline-block;line-height: 45px;text-align: center;width: 10%;}
.stats-inner-container .left-panel ul li span{float: right;width: 15%;text-align: center;}
.stats-inner-container .left-panel ul p{display: inline-block;width: 25%;padding-left: 3%;border-right: 1px solid #d2d2d2;text-transform: capitalize;margin: 0;text-align: left;}

/* Stats Table  */

























/* Match Report Table  */
.match-report-container{display: inline-block;width: 100%;height: auto;border: 1px solid #d2d2d2;background: #fbfbfb;}
.match-report-container .left-panel{display: inline-block;width: 70%;float: left;border-right:1px solid #d2d2d2;background:#fbfbfb none repeat scroll 0 0;}
.match-report-container h2{margin: 0;font-size: 20px;text-transform: capitalize;margin-bottom: 25px;}
.differnce-container{width: 100%;display: inline-block;}
.differnce-container p{text-transform: uppercase;font-size: 16px;margin: 1% 1% 0 1%;}
.match-report-container .over-all,
.match-report-container .shots,
.match-report-container .passes,
.match-report-container .attack{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid#d2d2d2;
    padding-top: 25px;
    padding-bottom: 25px;
}
.match-report-container .attack{border:hidden;}
.differnce-container span{
    background: #214cb8 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    min-width: 25%;
    font-size: 14px;
    max-width: 48% !important;
    line-height: 20px;
    padding: 6px 9px 5px;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* Match Report Table  */

/* Top Score Table  */
.top-scorers-inner{display: inline-block;width: 100%;height: auto;border: 1px solid #d2d2d2;background: #fbfbfb;}
.top-scorers-inner .left-panel{display: inline-block;width: 70%;float: left;}
.top-scorers-inner .left-panel h2{margin: 0;font-size: 16px;line-height: 45px;text-align: center;border-right:1px solid #d2d2d2;text-transform: capitalize;}
.top-scorers-inner .left-panel ul{display: inline-block;float: left;width: 50%;margin: 0;}
.top-scorers-inner .left-panel ul li{
    width: 100%;
    border-right:1px solid #d2d2d2;
    float: left;
    border-bottom: 1px solid #d2d2d2;
    height:45px;
    line-height: 45px;
    position: relative;
    font-size: 14px;
}
.top-scorers-inner .left-panel ul li a{
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.top-scorers-inner .left-panel ul li i{border-right: 1px solid #d2d2d2;display: inline-block;line-height: 45px;text-align: center;width: 15%;margin-right: 10px;}
.top-scorers-inner .left-panel ul li span{float: right;width: 25%;text-align: center;border-left: 1px solid #d2d2d2;}

/* Top Score Table  */

/* Separate COlors */
.match-report-container .shots,.match-report-container .attack,
.stats-inner-container .left-panel > ul > li:nth-child(2n+2),
.players-inner-container .left-panel ol li:nth-child(2n+1),
.top-scorers-inner .left-panel ul li:nth-child(2n+1){background:#f5f3f3 none repeat scroll 0 0;}



/* STats Panel */

/* Middle Middle Panel */



/* Dashboard Middle Wrapper Ends Here
===================================== */

/* Dashboard Right Wrapper Starts Here
====================================== */
.dashboard-right-tabs{
    position: relative;
    display: inline-block;
    padding:0;
}
.tabs-bg,
.stat-inner{
    width: 100%;
    float: left;
    max-height: 44px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}
.tabs-bg:before{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 2px;
    background: #4ab7f5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
}
.form-wizard{
    margin-top: 12px;
}
.form-wizard .steps-progress .progress-indicator {
    background: #00a651;
    width: 0%;
    height: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.form-wizard.no-margin .tab-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.form-wizard > ul {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 7px;
}
.form-wizard > ul > li {
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;
}
.form-wizard > ul > li a {
    position: relative;
    display: block;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 27px;
    padding-right: 4px;
    padding-top: 7px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.form-wizard > ul > li{
    top: -14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.form-wizard ul li.active a {
    background: #fff none repeat scroll 0 0;
}
.form-wizard > ul > li a span{
    width: 18px;
    height: 16px;
    position: absolute;
    top: 25%;
    left: 4px;
    display: inline-block;
    background: url(../assets/dashboard-strip.png);
}
.form-wizard > ul > li:nth-of-type(1) a span{background-position: 0px 64px;}
.form-wizard > ul > li:nth-of-type(2) a span{background-position: -20px 64px;}
.form-wizard > ul > li:nth-of-type(3) a span{background-position: -40px 64px;}
.form-wizard > ul > li:nth-of-type(4) a span{background-position: -62px 64px;}
.form-wizard > ul > li.active:nth-of-type(1) a span{background-position: -81px 64px;}
.form-wizard > ul > li.active:nth-of-type(2) a span{background-position: -101px 64px;}
.form-wizard > ul > li.active:nth-of-type(3) a span{background-position: -121px 64px;}
.form-wizard > ul > li.active:nth-of-type(4) a span{background-position: -144px 64px;}
.form-wizard > ul > li.completed a {color: #00a651;}
.form-wizard > ul > li.completed a span {background: #22b8a5;color: #fff;}
.form-wizard > ul > li.completed a span:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #000;
    font-size: 16px;
    padding-left: 2px;
}
.form-wizard > ul > li.disabled a {color: rgba(142, 144, 148, 0.5);}
.form-wizard .tab-content {margin: 0 52.5px;margin-top: 35px;}
.dashboard-right-tabs .tab-content{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.tabs-bg-inner{
    width: 100%;
    float: left;
    max-height: auto;
    margin-bottom: 15px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    background: #fff;
}
.tabs-bg-inner .form-wizard > ul > li a {font-size: 16px;}
.tabs-bg-inner .form-wizard > ul > li > a span{width: 26px;height: 26px;}
.tabs-bg-inner .form-wizard > ul > li:nth-of-type(1) a span{background-position: -350px 110px;}
.tabs-bg-inner .form-wizard > ul > li.active:nth-of-type(1) a span {background-position: -289px 110px;}
.tabs-bg-inner .form-wizard > ul > li:nth-of-type(2) a span{background-position: -380px 110px;}
.tabs-bg-inner .form-wizard > ul > li.active:nth-of-type(2) a span {background-position: -320px 110px;}
.tabs-bg-inner .form-wizard > ul > li.completed a span {background: #22b8a5;color: #fff;}
.tabs-bg-inner ul li:nth-of-type(1):before{
    height: 26px;
    width: 1px;
    background: #dcdcdc;
    position: absolute;
    content: "";
    right: 0;
    top: 25%;
}
#tab-inner1 form,
#tab-inner2 form,
#tab-inner3,
#tab-inner4,
#tab1 form,
#tab2 form,
.chat-panel{
    padding-left: 16px;
    padding-right: 16px;
}
#tab2 .chat-bottom-panel a{
    background: none;
    padding-left: 0;
}
.public-comment textarea,
.private-message textarea{
    border-radius: 0;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    margin-bottom: 13px;
    font-size: 14px;
}
.public-comment input,
.private-message input{
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;}
.public-comment,
.private-message{border: hidden;padding-top: 100px;}
/* Chat Panel */
.chat-panel-container{border-top: 1px solid #dcdcdc;padding-top: 13px;position: relative;}
.chat-panel-container:before{
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 100%;
    content: "";
    background: #e5e5e5;
}
.chat-panel{
    background:#fff;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.chat-panel-img-container{
    padding: 2px;
    border:1px solid #afadaf;
    display: inline-block;
    float:left;
    border-radius: 3px;
    width: 57px;
}
.chat-panel-img-container img{width: 100%;}
.chat-panel-text-container{
    display: inline-block;
    float: right;
    width: 80%;
    padding-left: 10px;
    padding-right: 9px;
    padding-top: 4px;
    position: relative;
    border: 1px solid #ccc;
    /*    background: url(../assets/tip-bg-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;*/
}
/*.chat-panel-text-container:after{
    background: none repeat scroll 0 0 #46494a;
    border-right: 10px solid #282a2b;
    border-bottom: 10px solid #FFFFFF;
    border-left: 0px solid #282a2b;
    border-top: 10px solid #FFFFFF;
    top: 0px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
}*/

.chat-panel-text-container h2{font-size: 14px;margin-top: 4px;display: inline-block;text-transform: capitalize;}
.chat-panel-text-container span{display: inline-block;float: right;font-size: 14px;}
.chat-panel-text-container img{display: inline-block;float: right;}
.chat-panel-text-container p{font-size: 12px;margin-bottom: 3px;}
/* Chat Panle */
.chat-bottom-panel{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 18px;
    padding-right: 17px;
    border-top: 1px solid #ccc;
    height: 35px;
    line-height: 40px;
}
.chat-bottom-panel a{
    font-size: 12px;
    display:inline-block;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.chat-bottom-panel a:nth-of-type(1){
    float: left;
    background: url(../assets/icone-8.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 18px;
}
.chat-bottom-panel a:nth-of-type(2){float: right;}
.private-chat {border-bottom: 1px solid #dcdcdc;margin-bottom: 0;padding-bottom: 10px;}
.private-chat .chat-panel-text-container{border: hidden;padding: 0;}
.chat-panel-container .chat-panel.private-chat:nth-last-child(1){border-bottom: hidden;}
.private-chat .chat-panel-text-container:before{display: none;}
.private-chat .chat-panel-text-container h2{margin-bottom: 2px;}
#tab-inner2 .chat-bottom-panel a{background-image: none;padding-left: 0;position: relative;}
/* Invite Tab */
.invite{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 53px;
}
.invite h2,
.invite a,
.invite input,
.invite textarea,
.invite label{font-size: 14px;}
.invite a{
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.invite h2{margin-bottom: 19px;}
.invite input,
.invite textarea{
    border-radius: 0;
    border-color: #d2d2d2;
}
.invite textarea{ margin-bottom: 19px;}
.invite-email{
    background-image:  url(../assets/icone-10.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    padding-left: 38px;
    height: 42px;
    margin-bottom: 6px;
    text-transform: capitalize;
}
.invite label{
    border-top: 1px solid #d4d4d4;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
}
.invite label input{position: relative;top: 4px;}
.invite .submit{
    font-size: 16px;
    text-transform: uppercase;
    background-image:  url(../assets/icone-1.png);
    background-repeat: no-repeat;
    background-position: 13px center;
}
.invite .submit:hover{background-image:  url(../assets/icone-18.png);   }
/* Invite Tab */
/* Dashboard Right Wrapper Ends Here
====================================== */

/* Dashboard Wrapper Ends Here
=============================== */

/* Footer Starts Here
===================== */
footer{
    position: relative;
    height: 60px;
    line-height: 55px;
    padding-right: 23px;
    border-top: 2px solid #adadad;
    padding-left: 15px;
}
/*Footer Left Panel*/
.footer-left-panel{display: inline-block;float: left;}
.footer-left-panel p{ margin-bottom: 0;display: inline-block;margin-left: 6px;}
/*Footer Left Panel*/

/*Footer Right Panel*/
.footer-right-panel{display: inline-block;float: right;}
.footer-right-panel ul li,
.footer-right-panel ul{ display: inline-block; margin-bottom: 0; }
.footer-nav > li a,
.footer-social-media > li a{
    text-decoration: none;
    text-transform:capitalize;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.footer-nav > li{padding-left: 15px;
}
.footer-social-media > li{padding-left: 35px;}
.footer-social-media > li:nth-of-type(1){padding-left: 12px;}
/*Footer Right Panel*/
/* Footer Ends Here
===================== */
.about-inner {
    background: white none repeat scroll 0 0;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.about-inner p {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 1px;
    text-transform: capitalize;
}

/* Dashboard Css Ends Here
============================= */

/* Sports Css Starts Here
============================= */
#sports-main{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.sports-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0.8);
}
.sports-carousile {
    display: inline-block;
    height: 165px;
    position: relative;
    width: 100%;
}
#sports-main footer{
    position: absolute;
    left: 0;
    width: 100%;
    bottom:0;
    z-index: 10;
}
.sports-panel{
    background: #fff;
    border-radius: 5px;
    padding: 0;
}
/* Sports Header */
.sports-panel-header{
    height: 58px;
    line-height: 45px;
    border-bottom: 3px solid #e5e5e5;
    padding-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.sports-panel-header h1{
    font-size: 20px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin: 0;
    margin-top: 4px;
}
.search-container{
    position: relative;
    display: inline-block;
    float: right;
    width: 328px;
    height: 29px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    padding-right: 8px;
}
.search-container .form-group{margin: 0;}
.sports-panel-header input{
    border: medium hidden;
    box-shadow: none;
    display: inline-block;
    float: left;
    font-size: 14px;
    max-width: 92%;
    height: 27px;
}
.sports-panel-header button{
    display: inline-block;
    float: right;
    height: 27px;
    background: #fff;
    border: hidden;
    line-height: 10px;
}
/* Sports Header */

/* Sports Carousile */
.sports-carousile-container{
    width: 100%;
    height: 164px;
    background: #f4f4f4;
    position: relative;
    display: block;
    border-bottom:1px solid #cbcbcb;
}
.sports-carousile-container .carousel{height: 100%;}
.sports-carousile-container .col-sm-4.col-md-4{
    height: 85%;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
#sports-main .carousel-inner{width: 70%;margin: 0 auto;}
.sport-img-container{
    width: 48%;
    display: inline-block;
    float: left;
    background: #fff;
    position: relative;
    height: 100%;
    border-radius: 3px;
    border:1px solid;
    border-color: #cbcbcb;
    cursor: pointer;
}
.sports-carousile-container .col-sm-4.col-md-4 .sport-img-container:nth-of-type(2){float: right;}
.sport-img-container span{
    position: absolute;
    left: 6px;
    top: 5px;
    display: none;
}
.sport-img-container span img{
    width: auto;
}
.sport-img-container:hover span{display: block;}
.sport-img-container:hover{border-color: #589818;}
.sport-img-container:hover p{color: #589818;}
.sport-img-container p{ font-size: 14px;}
#sports-main  .carousel-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    bottom: 0;
    color: #000;
    font-size: 20px;
    height: 72%;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 24px;
    width: 10.6%;
}
#sports-main  .carousel-control:hover{ color: #589818; border-color: #589818;}
#sports-main .carousel-control.left{left: 3.8%;}
#sports-main .carousel-control.right{ right: 3.8%;}

/* Sports Carousile */


/* Sports Select Container */
.sports-select-container{
    position: relative;
    width: 100%;
    display: inline-block;
    background: #fff;
    padding-top: 22px;
    padding-left: 3.91%;
    padding-bottom: 22px;
}
.sports-select-container .sport-img-container{ height: 120px; width: 11.25%; margin-right: 10px;}

.sports-select-container .sport-img-container p{ margin-top: 10px; margin-bottom: 0;}
/* Sports Select Container */




/* Sports Select footer */
.sports-wrapper-footer{
    padding-left: 22px;
    padding-right: 14px;
    padding-top: 11px;
    border-top: 1px solid #cbcbcb;
    height: 64px;
}
.sports-wrapper-footer .form-group{
    margin: 0;
}
.sports-wrapper-footer-p-container{
    display: inline-block;
    float: left;
    text-align: left;
}
.sports-wrapper-footer-p-container p{
    font-size: 14px;
    display: inline-block;
    margin: 0;
}
.sports-wrapper-footer-p-container span{
    font-size: 12px;
    margin: 0;
    display:block;
}
.sports-wrapper-footer input{
    font-size: 16px;
    display: inline-block;
    float: right;
    height: 38px;
    text-align: center;
    width: 143px;
    border-radius: 3px;
    border:1px solid #589818;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* Sports Select footer */

/* Sports Css Ends Here
============================= */




/* Dashboard Option Wrapper Css Starts Here
=========================================== */
.dashboard-option-main{
    width: 100%;
    position: relative;
    background: url(../assets/bg-1.png;);
    background-repeat: repeat;

}
.dashboard-option-wrapper{
    width: 100%;
    position: relative;
    display:block;
    background: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    border-bottom: 6px solid;
    border-color: rgba(255,255,255,0.4);
}
.dashboard-option-wrapper h1{
    font-size: 80px;
    margin-top: 69px;
    font-weight: normal;
    display: inline-block;
    border-bottom:1px solid #515151;
    padding-bottom: 8px;
}
.dashboard-option-wrapper p{
    font-size: 24px;
    margin: 0 auto;
    max-width: 60%;
    line-height: 28px;
    margin-top: 13px;
    margin-bottom: 24px;
}
.dashboard-option-wrapper a{
    font-size: 24px;
    display: inline-block;
    margin: 0px auto;
    border:1px solid #fff;
    width: 217px;
    line-height: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.dashboard-option-wrapper a:hover{ border-color:#4ab7f5;}


/* Dashboard Option Carousile */
.dashboard-carousile-panel{
    background: url(../assets/bg-1.png);
    background-repeat: repeat;
    position: relative;
    padding-bottom: 50px;
}
#trending-carousile h1,
#teams-carousile h1,
#league-carousile h1{
    font-size: 26px;
    margin-bottom: 12px;
    margin-top: 28px;
    padding-left: 4.3%;
}
#trending-carousile,
#teams-carousile,
#league-carousile{
    position: relative;
    width: 100%;
}
#trending-carousile .carousel-control.left,
#teams-carousile .carousel-control.left,
#league-carousile .carousel-control.left{
    background-image: url("../assets/option-1.png");
    background-repeat: no-repeat;
    left: 1%;
}
#trending-carousile .carousel-control.left:hover,
#teams-carousile .carousel-control.left:hover,
#league-carousile .carousel-control.left:hover{
    background-image: url("../assets/option-2.png");
    background-repeat: no-repeat;
}
#trending-carousile .carousel-control.right,
#teams-carousile .carousel-control.right,
#league-carousile .carousel-control.right{
    background-image: url("../assets/option-3.png");
    background-repeat: no-repeat;
    right: 1%;
}
#trending-carousile .carousel-control.right:hover,
#teams-carousile .carousel-control.right:hover,
#league-carousile .carousel-control.right:hover{
    background-image: url("../assets/option-4.png");
    background-repeat: no-repeat;
}
#trending-carousile .carousel-control,
#teams-carousile .carousel-control,
#league-carousile .carousel-control{
    background-size: 100% auto;
    opacity: 1;
    width: 40px;
    height: 40px;
    top: 35%;
}
.caousile-data-panel{
    border: 1px solid #cacaca;
    padding-top: 10px;
    margin-bottom: 20px;
}
.bottom-panel{
    height: 34px;
    width: 100%;
    background: #fff url(../assets/shadow.png);
    background-position:left bottom;
    background-size: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #cacaca;
}
.bottom-panel p{display: inline-block;line-height: 34px;margin-bottom: 0;}
.bottom-panel p span{float: left;margin-left: 13px;}
.bottom-panel ul{display: inline-block;margin:0;line-height: 34px;float: right;}
.bottom-panel ul li{display: inline-block;}
.bottom-panel ul li a{
    width: 21px;
    height: 15px;
    position: relative;
    display: block;
    background: url(../assets/dashboard-strip.png);
    opacity: 0.8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.bottom-panel ul li a:hover{opacity: 1;}
.bottom-panel ul li:nth-of-type(1) a{background-position:  -120px -31px;}
.bottom-panel ul li:nth-of-type(2) a{background-position:  -39px -31px;}
.bottom-panel ul li:nth-of-type(3) a{background-position:  -66px -31px;}
.bottom-panel ul li:nth-of-type(4) a{background-position:  -93px -31px;}
.bottom-panel ul li:nth-of-type(5) a{background-position:  -160px -31px;}
.bottom-panel ul li:nth-of-type(6) a{background-position:  -184px -31px;}


/* Trending Carousile */
.trending .carousile-img-container,
.teams .carousile-img-container,
.my-league .carousile-img-container{
    margin-bottom: 15px;
    margin-left: 10px;
}
.trending .carousile-text-container,
.teams .carousile-text-container,
.my-league .carousile-text-container{
    padding-right: 10px;
}
.trending p,.my-league p{text-align: center;}
.trending p span,.teams p span,.my-league p span{float: right;}
.trending h2,.teams h2,.my-league h2{font-size: 20px;margin-top: 6px;}
/* Trending Carousile */

/* League  Carousile */
.teams p{text-align: left;}
.teams p span{margin-left: 6px;}
/* League  Carousile */


/* My League  Carousile */
.league-top-container{display: inline-block;width: 100%;}
.league-top-container .carousile-img-container{float: left;display: inline-block;width: 15%;}
.league-top-container .carousile-text-container{float: left; display: inline-block; width: 70%;text-align: center;}
.league-top-container .right-img{float: right; display: inline-block;margin-left: 0;margin-right: 10px;}
.league-top-container h2{display: block;margin-top: 3px;}
.league-top-container p{display: block;}
.league-top-container span{width: 15px;height: 15px;font-size: 14px;line-height: 15px;display: inline-block;}
.my-league p span{margin-left: 6px;}
/* My League  Carousile */


/* Dashboard Option Wrapper Css Ends Here
========================================= */


.table-panel{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:table;

}
.table-cell-panel{
    height:100%;
    width:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.close,
.close-1{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
}
.display-block{display: block !important;z-index: 30;}
.display-inline-block{display: inline-block !important;}