::selection {background-color: transparent;}
input[type=text]::-moz-clear {display: none;}
input[type=text]::-ms-clear {display: none;}
a:focus{ outline: none;}
::-ms-clear {display: none;}
img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Font Family Portion
====================== */
@font-face{
  font-family:font-awesome;
  src:url(../fonts/FontAwesome.otf);
}
@font-face {
  font-family: 'MyriadPro-It';
  src: url('<%= font_path('MyriadPro-It.eot') %>');
  src: url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-It.otf')  format('opentype'),
  url('../fonts/MyriadPro-It.woff') format('woff'),
  url('../fonts/MyriadPro-It.ttf')  format('truetype'),
  url('../fonts/MyriadPro-It.svg#MyriadPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('<%= font_path('MyriadPro-Regular.eot') %>');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('<%= font_path('MyriadPro-Semibold.eot') %>');
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Semibold.otf')  format('opentype'),
  url('../fonts/MyriadPro-Semibold.woff') format('woff'),
  url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('<%= font_path('MyriadPro-Light.eot') %>');
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Light.otf')  format('opentype'),
  url('../fonts/MyriadPro-Light.woff') format('woff'),
  url('../fonts/MyriadPro-Light.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('<%= font_path('MyriadPro-Bold.eot') %>');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
  url('../fonts/MyriadPro-Bold.woff') format('woff'),
  url('../fonts/MyriadPro-Bold.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Font Family Portion
====================== */
.log-in-left-panel h1,.log-in-left-panel p{font-family: 'MyriadPro-Light';}
.log-in-left-panel h3,
.log-in-right-panel input,
.log-in-footer-nav li a,
.footer-nav li a,
.header-right-panel ul li a,
.header-right-panel ul li,
.heading-panel p,
.league-text-container h2,
#tab1 .tab-content textarea,
.chat-panel-text-container span,
.chat-panel-text-container p,
.chat-bottom-panel a,
ul.top-left-nav li a,
.top-rigt-panel p,
.about-inner p,
.information-panel p,
.article-info h3,
.article-info p,
.article-info a,
.carousile-text-container h2,
.carousile-text-container p,
.news-carousile .item-inner a,
.form-wizard > ul > li a,
.invite h2 span,
.invite a,
.invite input,
.invite textarea,
.invite label,
.sports-panel-header input,
.sports-wrapper-footer-p-container p,
.sports-wrapper-footer-p-container span,
.sport-img-container p,
.dashboard-option-wrapper h1,
.dashboard-option-wrapper a,
.trending h2,
.teams h2,
.my-league h2,
.league-top-container span,
.header-left-panel li a::before,
.top-rigt-text-panel ul li:hover ul li a,
.header-right-panel ul li ul li a,
.league-table-bar i,
.league-table-bar p,
.league-table-bar ul li,
.players-inner-container .left-panel ul li,
.players-inner-container .left-panel ul li a,
.top-scorers-inner .left-panel ul li a,
.stats-inner-container .left-panel h2 span,
.stats-inner-container .left-panel ul li a,
.differnce-container span,
.differnce-container p{

  font-family: 'MyriadPro-Regular';
}
.log-in-left-panel h2,
.log-in-right-panel h1,
.heading-title p,
.chat-panel-text-container h2,
.top-left-panel h1,
.top-left-panel h1 span,
.middle-wrapper-panel h4,
.information-panel h1,
.information-panel a,
.panel-title > a.collapsed::before,
.panel-title > a::before,
.article-info h2,
.carousile-text-container h1,
.invite h2,
.popup-inner h2{
  font-family: 'MyriadPro-Semibold';
}

.header-right-panel ul li span,
#tab1 .tab-content input,
.top-left-panel h2,
.top-rigt-panel h3,
.invite .submit,
.mobile-left-hover-panel a,
.chat-right-hover-panel a,
.sports-panel-header h1,
.sports-wrapper-footer input,
#trending-carousile h1,#league-carousile h1,#teams-carousile h1,
.private-message input,
.public-comment input,
.popup-inner .submit,
.top-scorers-inner .left-panel h2,
.top-scorers-inner .left-panel ul li,
.stats-inner-container .left-panel h2,
.stats-inner-container .left-panel ul li,
.match-report-container h2{
  font-family: 'MyriadPro-Bold';
}
.dashboard-option-wrapper p{font-family: 'MyriadPro-It';   }
/* Font Family Portion
====================== */

/* Color Portion
================ */

.log-in-footer ul li a,
.log-in-left-panel h1,
.log-in-left-panel h3,
.log-in-left-panel h2,
.log-in-right-panel h1,
.log-in-right-panel input,
.log-in-right-panel a,
.log-in-right-panel label,
.log-in-right-panel input,
header a,
.footer-left-panel p,
footer ul li a,
.heading-panel p,
.heading-title p,
.form-wizard > ul > li a,
#tab1 .tab-content input,
.top-left-panel h1,
.top-left-panel h2,
ul.top-left-nav li a,
.top-rigt-panel h3,
.top-rigt-panel p,
.invite .submit,
.mobile-left-hover-panel a,
.chat-right-hover-panel a,
.sports-wrapper-footer input,
.dashboard-option-wrapper h1,
.dashboard-option-wrapper p,
.dashboard-option-wrapper a,
.league-top-container span,
.header-right-panel ul li,
.private-message input,
.public-comment input,
.popup-inner .submit,
.top-rigt-text-panel ul li a,
.league-table-inner .league-table-bar:first-child i,
.league-table-inner .league-table-bar:first-child p,
.league-table-inner .league-table-bar:first-child ul li,
.players-inner-container .left-panel ul li:first-child,
.top-scorers-inner .left-panel h2,
.stats-inner-container .left-panel h2,
.differnce-container span{color:#fff}


.log-in-left-panel p{color:#dddddd}
.log-in-bottom{color:#5f5f5f}
.league-text-container h2{color:#1f1f1f}
.league-text-container p,
.information-panel p,
.article-info p,
.article-info a{color:#767676;}
#tab1 .tab-content textarea,
.invite input,
.invite textarea{color:#737373;}
.chat-panel-text-container h2{color:#1c1c1c;}
.chat-panel-text-container span{color:#8b8b8b;}
.chat-panel-text-container p{color:#888888;}
.chat-bottom-panel a{color: #696969;}
.top-left-panel h1 span{color: #e56963;}
.article-info h2{color: #464646;}
.article-info h3{color: #a8a8a8;}
.carousile-text-container h1,
.carousile-text-container a:hover,
.carousile-img-container a:hover{ color:#363636;}
.carousile-text-container h2{ color:#979797;}
.carousile-text-container p{ color:#807f7f;}
.stat-tab .form-wizard > ul > li a{color: #a3a3a3;}
.stat-tab .form-wizard > ul > li.active a{    color: #000;}
.invite h2 span{color: #909090;}
.invite label{color:#3e3e3e;}
.sports-panel-header input{color:#a3a3a3;}
.sports-wrapper-footer-p-container p{color: #64ad1d;}
.sports-wrapper-footer-p-container span{color: #949494;}
.sport-img-container p{color:#2a2a2a;}
#trending-carousile h1,#teams-carousile h1,#league-carousile h1{color:#555555;}
.trending h2,.teams h2,.my-league h2{color:#1f1f1f}
.about-inner p,.league-table-bar i,
.players-inner-container .left-panel ul li,
.players-inner-container .left-panel ul li a,
.players-inner-container .left-panel ol li::before,
.top-scorers-inner .left-panel ul li,
.top-scorers-inner .left-panel ul li a,
.stats-inner-container .left-panel ul li,
.stats-inner-container .left-panel ul li a,
.match-report-container h2,
.differnce-container p
{color: #2c2c2c;}
.log-in-footer ul li a:hover,
.log-in-right-panel ul li a:hover,
a.forget-password:hover,
.footer-nav > li a:hover,
.footer-social-media > li a:hover,
.form-wizard > ul > li.active a,
.form-wizard > ul > li.current a,
.tabs-bg-inner .form-wizard > ul > li.active a,
.tabs-bg-inner .form-wizard > ul > li.current a,
.chat-bottom-panel a:hover,
.middle-wrapper-panel h4,
.information-panel h1,
.information-panel a,
.panel-title > a.collapsed::before,
.panel-title > a::before,
.article-info a:hover,
.news-carousile .item-inner a,
.invite a,
.sports-panel-header h1,
.dashboard-option-wrapper a:hover,
.chat-bottom-panel a:nth-of-type(2),
.league-bottom ul li a:hover,
.top-rigt-text-panel ul li a:hover,
.top-rigt-text-panel ul li:hover ul li a:hover,
.header-right-panel ul li ul li a:hover,
.close:hover,
.close-1:hover,
.league-table-bar p,
.players-inner-container .left-panel ul li a:hover,
.players-inner-container .left-panel ol li:hover:before,
.players-inner-container .left-panel ol li:hover:after,
.top-scorers-inner .left-panel ul li a:hover,
.stats-inner-container .left-panel ul li a:hover{
  color: #4ab7f5;
}
.log-in-right-panel .submit:hover,.sports-wrapper-footer input:hover{color: #000;}
.header-right-panel ul li a:hover,
.tabs-bg-inner .form-wizard > ul > li a,
.panel-title h4 a:hover,
.middle-wrapper-panel h4 a:hover,
.middle-wrapper-panel h4 a:hover:before,
.information-panel a:hover,#tab1 .tab-content input:hover,.invite h2,
.invite .submit:hover,
.invite a:hover,
.mobile-left-hover-panel a:hover,.chat-right-hover-panel a:hover,
.header-left-panel li a:hover,
.popup-inner .submit:hover,
.popup-inner h2,
.league-bottom ul li a,
.top-rigt-text-panel ul li:hover ul li a,
.header-right-panel ul li ul li a,
.close,
.close-1,
.popup-inner label{
  color:#4a4a4a
}
/* Color Portion
================ */

/* Background Portion
===================== */
.log-in-right-panel{background: rgba(41,41,41,0.8);}
.log-in-right-panel input{background:#1b1b1b;}
.log-in-right-panel ul li{background: #1b1b1b;   }
.chat-panel-text-container:before,
.dashboard-middle-panel:before{background: #e5e5e5;}
.log-in-right-panel .submit,
header,
.heading-panel,
.tabs-bg,
.private-message input,
.public-comment input,
.invite .submit,.mobile-left-hover-panel,
.chat-right-hover-panel a,
.popup-inner .submit,
.league-table-inner .league-table-bar:first-child,
.players-inner-container .left-panel ul li:first-child,
.top-scorers-inner .left-panel h2,
.stats-inner-container .left-panel h2{
  background: #4ab7f5;
}
footer{background: #2c2c2c;}
.heading-title{background: #249ade;}
.league-card,
.form-wizard > ul > li.active,
.form-wizard > ul > li.current,
.dashboard-right-tabs .tab-content,
.middle-wrapper-panel,
.caousile-data-panel{
  background:#fff;
}

.middle-top-panel{background: #e56963;}
.league-card{border-bottom:2px solid #e56963;}
.dashboard-2 .middle-top-panel,.league-top-container span{background: #5fb96c;}
.dashboard-2 .league-card{border-bottom:2px solid #5fb96c;}
.dashboard-2 .top-left-panel h1 span{color:#5fb96c; }
.dashboard-3 .middle-top-panel{background: #ffaf3f;}
.dashboard-3 .league-card{border-bottom:2px solid #ffaf3f;}
.dashboard-3 .top-left-panel h1 span{color:#ffaf3f; }
.sports-wrapper-footer input{background: #70b828;}

/* Background Portion
===================== */
.article-info a:before,
.article-map-panel:before,
.middle-top-panel:before,
.chat-panel-text-container:before,
.dashboard-inner-main:before,
.sport-img-container{
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e5e5e5;
  content: "";
}
.invite textarea,
#tab1 .tab-content textarea,
.invite-email{
  border-bottom: 3px solid #e5e5e5;
}