<footer>
  <div class="footer-left-panel">
    <img src="../assets/footer-logo.png" alt="">
    <p>© 2016 Deep Dive Sports</p>
  </div>
  <div class="footer-right-panel">
    <ul class="footer-nav">
      <li><a href="#">about us</a></li>
      <li><a href="#">jobs</a></li>
      <li><a href="#">user agreement</a></li>
      <li><a href="#">privacy policy</a></li>
    </ul>
    <ul class="footer-social-media">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</footer>