<!-- header Starts Here
======================= -->
<header>
  <div class="header-left-panel">
    <a href="/favourites/new"><%= image_tag("/assets/logo.png") %></a>
    <ul>
      <li><a href="#"><i class="fa fa-bell-o"></i><span>5</span></a></li>
      <li><a href="#"><i class="fa fa-bookmark-o"></i><span>7</span></a></li>
    </ul>
  </div>
  <div class="header-right-panel">
    <ul>
      <li class="header-search-bar">
        <a href="#"><%= image_tag("/assets/icone-4.png") %></a>
        <input class="form-control" type="text" name="" value="" placeholder="">
      </li>
      <li class="top-popup new-card-popup-button">

        <a><span>+ </span>New Card  </a>
        <div class="popup">
          <div class="table-panel" onclick="">
            <div class="table-cell-panel">
              <div class="popup-inner">
                <div class="close"><i class="fa fa-close "></i></div>
                <form role="form">
                  <div class="form-group">
                    <h2>New Card</h2>
                    <input class="form-control"  type="text" placeholder="Title">
                    <input class="form-control"  type="email" placeholder="Description">
                    <input type="submit" class="form-control submit" name="" value="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </li>
      <li class="top-popup">
        <%= image_tag("/assets/User-icon.png") %>

        <span>Welcome!</span> <%= current_user.username %>
        <i><a class="user-ul"></a></i>
        <ul class="user-setting-data">
          <li><a href="">setting</a></li>
          <li><a class="invite-button">Invite</a>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <div class="popup invite-popup">
              <div class="table-panel">
                <div class="table-cell-panel">
                  <div class="popup-inner">
                    <div class="close-1"><i class="fa fa-close "></i></div>
                    <form role="form">
                      <div class="form-group">
                        <h2>Add E-mail to be Invited!</h2>
                        <input id="email" class="form-control invite-email"  type="email" placeholder="Enter email Address">
                        <h2>Your Invitation Message <span>(Optional)</span></h2>
                        <textarea id="comment" class="form-control" placeholder="Message" rows="5"></textarea>
                        <label>
                          <input type="checkbox" value="">
                          Invite for personal
                        </label>
                        <input type="submit" class="form-control submit" name="" value="Invite">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</header>
<!-- header Ends Here
======================= -->
